.g-snows {
  width: 100vw;
  height: 100vh;
  background-color: navy;
  background-image: linear-gradient(to bottom, rgb(68, 68, 230), darkgray);
}

.g-snows > li {
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-animation-name: snow-drop;
          animation-name: snow-drop;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.g-snows > li:nth-child(1) {
  left: 27%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 7024ms;
          animation-duration: 7024ms;
  -webkit-animation-delay: 1202ms;
          animation-delay: 1202ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(2) {
  left: 46%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 9105ms;
          animation-duration: 9105ms;
  -webkit-animation-delay: 4657ms;
          animation-delay: 4657ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(3) {
  left: 63%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 7496ms;
          animation-duration: 7496ms;
  -webkit-animation-delay: 2449ms;
          animation-delay: 2449ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(4) {
  left: 33%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8118ms;
          animation-duration: 8118ms;
  -webkit-animation-delay: 4314ms;
          animation-delay: 4314ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(5) {
  left: 1%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 7288ms;
          animation-duration: 7288ms;
  -webkit-animation-delay: 2226ms;
          animation-delay: 2226ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(6) {
  left: 25%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 8907ms;
          animation-duration: 8907ms;
  -webkit-animation-delay: 1922ms;
          animation-delay: 1922ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(7) {
  left: 82%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 5387ms;
          animation-duration: 5387ms;
  -webkit-animation-delay: 4284ms;
          animation-delay: 4284ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(8) {
  left: 5%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5284ms;
          animation-duration: 5284ms;
  -webkit-animation-delay: 1129ms;
          animation-delay: 1129ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(9) {
  left: 2%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 5368ms;
          animation-duration: 5368ms;
  -webkit-animation-delay: 3169ms;
          animation-delay: 3169ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(10) {
  left: 29%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 13719ms;
          animation-duration: 13719ms;
  -webkit-animation-delay: 3294ms;
          animation-delay: 3294ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(11) {
  left: 89%;
  width: 22px;
  height: 22px;
  -webkit-animation-duration: 13510ms;
          animation-duration: 13510ms;
  -webkit-animation-delay: 3316ms;
          animation-delay: 3316ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(12) {
  left: 16%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 14450ms;
          animation-duration: 14450ms;
  -webkit-animation-delay: 2192ms;
          animation-delay: 2192ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(13) {
  left: 135%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 14227ms;
          animation-duration: 14227ms;
  -webkit-animation-delay: 998ms;
          animation-delay: 998ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(14) {
  left: 13%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 9402ms;
          animation-duration: 9402ms;
  -webkit-animation-delay: 2031ms;
          animation-delay: 2031ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(15) {
  left: 3%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 5780ms;
          animation-duration: 5780ms;
  -webkit-animation-delay: 4938ms;
          animation-delay: 4938ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(16) {
  left: 92%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 10594ms;
          animation-duration: 10594ms;
  -webkit-animation-delay: 416ms;
          animation-delay: 416ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(17) {
  left: 56%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 10377ms;
          animation-duration: 10377ms;
  -webkit-animation-delay: 70ms;
          animation-delay: 70ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(18) {
  left: 6%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 13154ms;
          animation-duration: 13154ms;
  -webkit-animation-delay: 3179ms;
          animation-delay: 3179ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(19) {
  left: 53%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 5938ms;
          animation-duration: 5938ms;
  -webkit-animation-delay: 355ms;
          animation-delay: 355ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(20) {
  left: 76%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 7969ms;
          animation-duration: 7969ms;
  -webkit-animation-delay: 3399ms;
          animation-delay: 3399ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(21) {
  left: 45%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 8339ms;
          animation-duration: 8339ms;
  -webkit-animation-delay: 2308ms;
          animation-delay: 2308ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(22) {
  left: 26%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 8080ms;
          animation-duration: 8080ms;
  -webkit-animation-delay: 907ms;
          animation-delay: 907ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(23) {
  left: 74%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 7963ms;
          animation-duration: 7963ms;
  -webkit-animation-delay: 197ms;
          animation-delay: 197ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(24) {
  left: 36%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10079ms;
          animation-duration: 10079ms;
  -webkit-animation-delay: 4075ms;
          animation-delay: 4075ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(25) {
  left: 4%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 6425ms;
          animation-duration: 6425ms;
  -webkit-animation-delay: 4370ms;
          animation-delay: 4370ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(26) {
  left: 41%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 12263ms;
          animation-duration: 12263ms;
  -webkit-animation-delay: 1730ms;
          animation-delay: 1730ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(27) {
  left: 59%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 11321ms;
          animation-duration: 11321ms;
  -webkit-animation-delay: 3436ms;
          animation-delay: 3436ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(28) {
  left: 14%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 9924ms;
          animation-duration: 9924ms;
  -webkit-animation-delay: 113ms;
          animation-delay: 113ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(29) {
  left: 29%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6637ms;
          animation-duration: 6637ms;
  -webkit-animation-delay: 630ms;
          animation-delay: 630ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(30) {
  left: 85%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 5302ms;
          animation-duration: 5302ms;
  -webkit-animation-delay: 4460ms;
          animation-delay: 4460ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(31) {
  left: 68%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5974ms;
          animation-duration: 5974ms;
  -webkit-animation-delay: 472ms;
          animation-delay: 472ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(32) {
  left: 50%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8348ms;
          animation-duration: 8348ms;
  -webkit-animation-delay: 4668ms;
          animation-delay: 4668ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(33) {
  left: 82%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 5126ms;
          animation-duration: 5126ms;
  -webkit-animation-delay: 180ms;
          animation-delay: 180ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(34) {
  left: 43%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 5604ms;
          animation-duration: 5604ms;
  -webkit-animation-delay: 2721ms;
          animation-delay: 2721ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(35) {
  left: 2%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 5617ms;
          animation-duration: 5617ms;
  -webkit-animation-delay: 2860ms;
          animation-delay: 2860ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(36) {
  left: 9%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9545ms;
          animation-duration: 9545ms;
  -webkit-animation-delay: 2371ms;
          animation-delay: 2371ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(37) {
  left: 60%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 7058ms;
          animation-duration: 7058ms;
  -webkit-animation-delay: 3796ms;
          animation-delay: 3796ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(38) {
  left: 96%;
  width: 22px;
  height: 22px;
  -webkit-animation-duration: 8287ms;
          animation-duration: 8287ms;
  -webkit-animation-delay: 191ms;
          animation-delay: 191ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(39) {
  left: 130%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 8383ms;
          animation-duration: 8383ms;
  -webkit-animation-delay: 317ms;
          animation-delay: 317ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(40) {
  left: 95%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 10920ms;
          animation-duration: 10920ms;
  -webkit-animation-delay: 2796ms;
          animation-delay: 2796ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(41) {
  left: 56%;
  width: 25px;
  height: 25px;
  -webkit-animation-duration: 5324ms;
          animation-duration: 5324ms;
  -webkit-animation-delay: 4412ms;
          animation-delay: 4412ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(42) {
  left: 18%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6396ms;
          animation-duration: 6396ms;
  -webkit-animation-delay: 4938ms;
          animation-delay: 4938ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(43) {
  left: 8%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 6074ms;
          animation-duration: 6074ms;
  -webkit-animation-delay: 4848ms;
          animation-delay: 4848ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(44) {
  left: 32%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 6496ms;
          animation-duration: 6496ms;
  -webkit-animation-delay: 336ms;
          animation-delay: 336ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(45) {
  left: 41%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 12671ms;
          animation-duration: 12671ms;
  -webkit-animation-delay: 3463ms;
          animation-delay: 3463ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(46) {
  left: 87%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 7362ms;
          animation-duration: 7362ms;
  -webkit-animation-delay: 1556ms;
          animation-delay: 1556ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(47) {
  left: 24%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5960ms;
          animation-duration: 5960ms;
  -webkit-animation-delay: 1874ms;
          animation-delay: 1874ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(48) {
  left: 39%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 9374ms;
          animation-duration: 9374ms;
  -webkit-animation-delay: 2020ms;
          animation-delay: 2020ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(49) {
  left: 16%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 10159ms;
          animation-duration: 10159ms;
  -webkit-animation-delay: 4899ms;
          animation-delay: 4899ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(50) {
  left: 55%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 6804ms;
          animation-duration: 6804ms;
  -webkit-animation-delay: 2689ms;
          animation-delay: 2689ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(51) {
  left: 27%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 7235ms;
          animation-duration: 7235ms;
  -webkit-animation-delay: 744ms;
          animation-delay: 744ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(52) {
  left: 63%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 8454ms;
          animation-duration: 8454ms;
  -webkit-animation-delay: 948ms;
          animation-delay: 948ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(53) {
  left: 33%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 7555ms;
          animation-duration: 7555ms;
  -webkit-animation-delay: 4999ms;
          animation-delay: 4999ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(54) {
  left: 63%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 6776ms;
          animation-duration: 6776ms;
  -webkit-animation-delay: 4804ms;
          animation-delay: 4804ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(55) {
  left: 19%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 11114ms;
          animation-duration: 11114ms;
  -webkit-animation-delay: 588ms;
          animation-delay: 588ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(56) {
  left: 98%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 5875ms;
          animation-duration: 5875ms;
  -webkit-animation-delay: 2051ms;
          animation-delay: 2051ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(57) {
  left: 87%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 5075ms;
          animation-duration: 5075ms;
  -webkit-animation-delay: 3904ms;
          animation-delay: 3904ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(58) {
  left: 94%;
  width: 23px;
  height: 23px;
  -webkit-animation-duration: 13218ms;
          animation-duration: 13218ms;
  -webkit-animation-delay: 2933ms;
          animation-delay: 2933ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(59) {
  left: 2%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 6163ms;
          animation-duration: 6163ms;
  -webkit-animation-delay: 1443ms;
          animation-delay: 1443ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(60) {
  left: 99%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 8473ms;
          animation-duration: 8473ms;
  -webkit-animation-delay: 3254ms;
          animation-delay: 3254ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(61) {
  left: 43%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 6940ms;
          animation-duration: 6940ms;
  -webkit-animation-delay: 683ms;
          animation-delay: 683ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(62) {
  left: 26%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 5449ms;
          animation-duration: 5449ms;
  -webkit-animation-delay: 4649ms;
          animation-delay: 4649ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(63) {
  left: 13%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 7402ms;
          animation-duration: 7402ms;
  -webkit-animation-delay: 2335ms;
          animation-delay: 2335ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(64) {
  left: 84%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 7456ms;
          animation-duration: 7456ms;
  -webkit-animation-delay: 3711ms;
          animation-delay: 3711ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(65) {
  left: 30%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10903ms;
          animation-duration: 10903ms;
  -webkit-animation-delay: 3667ms;
          animation-delay: 3667ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(66) {
  left: 19%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5925ms;
          animation-duration: 5925ms;
  -webkit-animation-delay: 3449ms;
          animation-delay: 3449ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(67) {
  left: 80%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 6697ms;
          animation-duration: 6697ms;
  -webkit-animation-delay: 3925ms;
          animation-delay: 3925ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(68) {
  left: 35%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 5531ms;
          animation-duration: 5531ms;
  -webkit-animation-delay: 3196ms;
          animation-delay: 3196ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(69) {
  left: 61%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 7348ms;
          animation-duration: 7348ms;
  -webkit-animation-delay: 1107ms;
          animation-delay: 1107ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(70) {
  left: 42%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 13138ms;
          animation-duration: 13138ms;
  -webkit-animation-delay: 2113ms;
          animation-delay: 2113ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(71) {
  left: 118%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 5813ms;
          animation-duration: 5813ms;
  -webkit-animation-delay: 3466ms;
          animation-delay: 3466ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(72) {
  left: 12%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 7508ms;
          animation-duration: 7508ms;
  -webkit-animation-delay: 3236ms;
          animation-delay: 3236ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(73) {
  left: 106%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 6158ms;
          animation-duration: 6158ms;
  -webkit-animation-delay: 4730ms;
          animation-delay: 4730ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(74) {
  left: 101%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 6562ms;
          animation-duration: 6562ms;
  -webkit-animation-delay: 136ms;
          animation-delay: 136ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(75) {
  left: 2%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9684ms;
          animation-duration: 9684ms;
  -webkit-animation-delay: 982ms;
          animation-delay: 982ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(76) {
  left: 31%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 7828ms;
          animation-duration: 7828ms;
  -webkit-animation-delay: 3240ms;
          animation-delay: 3240ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(77) {
  left: 105%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 12667ms;
          animation-duration: 12667ms;
  -webkit-animation-delay: 3642ms;
          animation-delay: 3642ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(78) {
  left: 4%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6218ms;
          animation-duration: 6218ms;
  -webkit-animation-delay: 267ms;
          animation-delay: 267ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(79) {
  left: 51%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 5168ms;
          animation-duration: 5168ms;
  -webkit-animation-delay: 1449ms;
          animation-delay: 1449ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(80) {
  left: 49%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 12255ms;
          animation-duration: 12255ms;
  -webkit-animation-delay: 3662ms;
          animation-delay: 3662ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(81) {
  left: 4%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 6934ms;
          animation-duration: 6934ms;
  -webkit-animation-delay: 829ms;
          animation-delay: 829ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(82) {
  left: 16%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5700ms;
          animation-duration: 5700ms;
  -webkit-animation-delay: 3717ms;
          animation-delay: 3717ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(83) {
  left: 69%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 9933ms;
          animation-duration: 9933ms;
  -webkit-animation-delay: 1848ms;
          animation-delay: 1848ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(84) {
  left: 71%;
  width: 26px;
  height: 26px;
  -webkit-animation-duration: 7091ms;
          animation-duration: 7091ms;
  -webkit-animation-delay: 3033ms;
          animation-delay: 3033ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(85) {
  left: 77%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 5403ms;
          animation-duration: 5403ms;
  -webkit-animation-delay: 1081ms;
          animation-delay: 1081ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(86) {
  left: 30%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 11229ms;
          animation-duration: 11229ms;
  -webkit-animation-delay: 4079ms;
          animation-delay: 4079ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(87) {
  left: 79%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 6573ms;
          animation-duration: 6573ms;
  -webkit-animation-delay: 1161ms;
          animation-delay: 1161ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(88) {
  left: 8%;
  width: 23px;
  height: 23px;
  -webkit-animation-duration: 9002ms;
          animation-duration: 9002ms;
  -webkit-animation-delay: 2334ms;
          animation-delay: 2334ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(89) {
  left: 68%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 11935ms;
          animation-duration: 11935ms;
  -webkit-animation-delay: 1705ms;
          animation-delay: 1705ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(90) {
  left: 97%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 9167ms;
          animation-duration: 9167ms;
  -webkit-animation-delay: 2541ms;
          animation-delay: 2541ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(91) {
  left: 53%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 10355ms;
          animation-duration: 10355ms;
  -webkit-animation-delay: 4184ms;
          animation-delay: 4184ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(92) {
  left: 45%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 5784ms;
          animation-duration: 5784ms;
  -webkit-animation-delay: 1147ms;
          animation-delay: 1147ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(93) {
  left: 74%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 13467ms;
          animation-duration: 13467ms;
  -webkit-animation-delay: 2136ms;
          animation-delay: 2136ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(94) {
  left: 2%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 6813ms;
          animation-duration: 6813ms;
  -webkit-animation-delay: 185ms;
          animation-delay: 185ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(95) {
  left: 44%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 11231ms;
          animation-duration: 11231ms;
  -webkit-animation-delay: 2751ms;
          animation-delay: 2751ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(96) {
  left: 35%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 7498ms;
          animation-duration: 7498ms;
  -webkit-animation-delay: 4998ms;
          animation-delay: 4998ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(97) {
  left: 1%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 9410ms;
          animation-duration: 9410ms;
  -webkit-animation-delay: 1991ms;
          animation-delay: 1991ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(98) {
  left: 19%;
  width: 27px;
  height: 27px;
  -webkit-animation-duration: 7130ms;
          animation-duration: 7130ms;
  -webkit-animation-delay: 2749ms;
          animation-delay: 2749ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(99) {
  left: 13%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 6372ms;
          animation-duration: 6372ms;
  -webkit-animation-delay: 3777ms;
          animation-delay: 3777ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(100) {
  left: 59%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 5322ms;
          animation-duration: 5322ms;
  -webkit-animation-delay: 3444ms;
          animation-delay: 3444ms;
  filter: blur(1px);
}

@-webkit-keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}/*# sourceMappingURL=light-theme-background.css.map */