.g-snows {
  width: 100vw;
  height: 100vh;
  background-color: navy;
  background-image: linear-gradient(to bottom, rgb(68, 68, 230), darkgray);
}

.g-snows > li {
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-animation-name: snow-drop;
          animation-name: snow-drop;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.g-snows > li:nth-child(1) {
  left: 33%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 8781ms;
          animation-duration: 8781ms;
  -webkit-animation-delay: 2079ms;
          animation-delay: 2079ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(2) {
  left: 69%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 12066ms;
          animation-duration: 12066ms;
  -webkit-animation-delay: 948ms;
          animation-delay: 948ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(3) {
  left: 54%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 5424ms;
          animation-duration: 5424ms;
  -webkit-animation-delay: 1359ms;
          animation-delay: 1359ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(4) {
  left: 65%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 9869ms;
          animation-duration: 9869ms;
  -webkit-animation-delay: 2122ms;
          animation-delay: 2122ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(5) {
  left: 46%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 7469ms;
          animation-duration: 7469ms;
  -webkit-animation-delay: 3393ms;
          animation-delay: 3393ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(6) {
  left: 55%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 6533ms;
          animation-duration: 6533ms;
  -webkit-animation-delay: 202ms;
          animation-delay: 202ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(7) {
  left: 93%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 9699ms;
          animation-duration: 9699ms;
  -webkit-animation-delay: 133ms;
          animation-delay: 133ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(8) {
  left: 138%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 8143ms;
          animation-duration: 8143ms;
  -webkit-animation-delay: 3371ms;
          animation-delay: 3371ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(9) {
  left: 64%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 9197ms;
          animation-duration: 9197ms;
  -webkit-animation-delay: 128ms;
          animation-delay: 128ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(10) {
  left: 34%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 8959ms;
          animation-duration: 8959ms;
  -webkit-animation-delay: 3743ms;
          animation-delay: 3743ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(11) {
  left: 0%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 8458ms;
          animation-duration: 8458ms;
  -webkit-animation-delay: 964ms;
          animation-delay: 964ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(12) {
  left: 38%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 5917ms;
          animation-duration: 5917ms;
  -webkit-animation-delay: 4275ms;
          animation-delay: 4275ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(13) {
  left: 112%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 12317ms;
          animation-duration: 12317ms;
  -webkit-animation-delay: 3692ms;
          animation-delay: 3692ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(14) {
  left: 68%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 5304ms;
          animation-duration: 5304ms;
  -webkit-animation-delay: 2362ms;
          animation-delay: 2362ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(15) {
  left: 45%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 7259ms;
          animation-duration: 7259ms;
  -webkit-animation-delay: 2223ms;
          animation-delay: 2223ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(16) {
  left: 5%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 10802ms;
          animation-duration: 10802ms;
  -webkit-animation-delay: 3230ms;
          animation-delay: 3230ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(17) {
  left: 18%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 12151ms;
          animation-duration: 12151ms;
  -webkit-animation-delay: 2327ms;
          animation-delay: 2327ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(18) {
  left: 34%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 7460ms;
          animation-duration: 7460ms;
  -webkit-animation-delay: 4925ms;
          animation-delay: 4925ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(19) {
  left: 78%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 11157ms;
          animation-duration: 11157ms;
  -webkit-animation-delay: 3112ms;
          animation-delay: 3112ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(20) {
  left: 64%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 5339ms;
          animation-duration: 5339ms;
  -webkit-animation-delay: 503ms;
          animation-delay: 503ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(21) {
  left: 16%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 12264ms;
          animation-duration: 12264ms;
  -webkit-animation-delay: 2059ms;
          animation-delay: 2059ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(22) {
  left: 26%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 5601ms;
          animation-duration: 5601ms;
  -webkit-animation-delay: 4451ms;
          animation-delay: 4451ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(23) {
  left: 53%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 12744ms;
          animation-duration: 12744ms;
  -webkit-animation-delay: 3932ms;
          animation-delay: 3932ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(24) {
  left: 115%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 13380ms;
          animation-duration: 13380ms;
  -webkit-animation-delay: 43ms;
          animation-delay: 43ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(25) {
  left: 29%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 5212ms;
          animation-duration: 5212ms;
  -webkit-animation-delay: 2945ms;
          animation-delay: 2945ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(26) {
  left: 42%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 10319ms;
          animation-duration: 10319ms;
  -webkit-animation-delay: 1399ms;
          animation-delay: 1399ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(27) {
  left: 1%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 8075ms;
          animation-duration: 8075ms;
  -webkit-animation-delay: 2554ms;
          animation-delay: 2554ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(28) {
  left: 3%;
  width: 22px;
  height: 22px;
  -webkit-animation-duration: 11362ms;
          animation-duration: 11362ms;
  -webkit-animation-delay: 4616ms;
          animation-delay: 4616ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(29) {
  left: 26%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 5601ms;
          animation-duration: 5601ms;
  -webkit-animation-delay: 3987ms;
          animation-delay: 3987ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(30) {
  left: 74%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 8075ms;
          animation-duration: 8075ms;
  -webkit-animation-delay: 710ms;
          animation-delay: 710ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(31) {
  left: 39%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6534ms;
          animation-duration: 6534ms;
  -webkit-animation-delay: 2734ms;
          animation-delay: 2734ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(32) {
  left: 5%;
  width: 22px;
  height: 22px;
  -webkit-animation-duration: 7386ms;
          animation-duration: 7386ms;
  -webkit-animation-delay: 4251ms;
          animation-delay: 4251ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(33) {
  left: 38%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 6289ms;
          animation-duration: 6289ms;
  -webkit-animation-delay: 1583ms;
          animation-delay: 1583ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(34) {
  left: 1%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 7245ms;
          animation-duration: 7245ms;
  -webkit-animation-delay: 3842ms;
          animation-delay: 3842ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(35) {
  left: 110%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 6400ms;
          animation-duration: 6400ms;
  -webkit-animation-delay: 1796ms;
          animation-delay: 1796ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(36) {
  left: 46%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 6355ms;
          animation-duration: 6355ms;
  -webkit-animation-delay: 327ms;
          animation-delay: 327ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(37) {
  left: 36%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 5070ms;
          animation-duration: 5070ms;
  -webkit-animation-delay: 74ms;
          animation-delay: 74ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(38) {
  left: 14%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 12304ms;
          animation-duration: 12304ms;
  -webkit-animation-delay: 2231ms;
          animation-delay: 2231ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(39) {
  left: 114%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 7121ms;
          animation-duration: 7121ms;
  -webkit-animation-delay: 3417ms;
          animation-delay: 3417ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(40) {
  left: 53%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 11894ms;
          animation-duration: 11894ms;
  -webkit-animation-delay: 1619ms;
          animation-delay: 1619ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(41) {
  left: 124%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 5485ms;
          animation-duration: 5485ms;
  -webkit-animation-delay: 608ms;
          animation-delay: 608ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(42) {
  left: 6%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 6647ms;
          animation-duration: 6647ms;
  -webkit-animation-delay: 3511ms;
          animation-delay: 3511ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(43) {
  left: 12%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 9616ms;
          animation-duration: 9616ms;
  -webkit-animation-delay: 1118ms;
          animation-delay: 1118ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(44) {
  left: 63%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 9748ms;
          animation-duration: 9748ms;
  -webkit-animation-delay: 1227ms;
          animation-delay: 1227ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(45) {
  left: 51%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 8716ms;
          animation-duration: 8716ms;
  -webkit-animation-delay: 408ms;
          animation-delay: 408ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(46) {
  left: 26%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 7936ms;
          animation-duration: 7936ms;
  -webkit-animation-delay: 4468ms;
          animation-delay: 4468ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(47) {
  left: 66%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 7881ms;
          animation-duration: 7881ms;
  -webkit-animation-delay: 3285ms;
          animation-delay: 3285ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(48) {
  left: 3%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 9164ms;
          animation-duration: 9164ms;
  -webkit-animation-delay: 3993ms;
          animation-delay: 3993ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(49) {
  left: 7%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5360ms;
          animation-duration: 5360ms;
  -webkit-animation-delay: 2008ms;
          animation-delay: 2008ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(50) {
  left: 61%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 5504ms;
          animation-duration: 5504ms;
  -webkit-animation-delay: 711ms;
          animation-delay: 711ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(51) {
  left: 12%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 5135ms;
          animation-duration: 5135ms;
  -webkit-animation-delay: 167ms;
          animation-delay: 167ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(52) {
  left: 116%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 10327ms;
          animation-duration: 10327ms;
  -webkit-animation-delay: 4005ms;
          animation-delay: 4005ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(53) {
  left: 124%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 12432ms;
          animation-duration: 12432ms;
  -webkit-animation-delay: 2199ms;
          animation-delay: 2199ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(54) {
  left: 24%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 11063ms;
          animation-duration: 11063ms;
  -webkit-animation-delay: 2873ms;
          animation-delay: 2873ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(55) {
  left: 86%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 12449ms;
          animation-duration: 12449ms;
  -webkit-animation-delay: 4928ms;
          animation-delay: 4928ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(56) {
  left: 71%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 6511ms;
          animation-duration: 6511ms;
  -webkit-animation-delay: 1153ms;
          animation-delay: 1153ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(57) {
  left: 133%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 12977ms;
          animation-duration: 12977ms;
  -webkit-animation-delay: 4761ms;
          animation-delay: 4761ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(58) {
  left: 8%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 7037ms;
          animation-duration: 7037ms;
  -webkit-animation-delay: 3154ms;
          animation-delay: 3154ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(59) {
  left: 69%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 6078ms;
          animation-duration: 6078ms;
  -webkit-animation-delay: 4532ms;
          animation-delay: 4532ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(60) {
  left: 122%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 6923ms;
          animation-duration: 6923ms;
  -webkit-animation-delay: 468ms;
          animation-delay: 468ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(61) {
  left: 40%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 8294ms;
          animation-duration: 8294ms;
  -webkit-animation-delay: 2312ms;
          animation-delay: 2312ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(62) {
  left: 30%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 9467ms;
          animation-duration: 9467ms;
  -webkit-animation-delay: 1938ms;
          animation-delay: 1938ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(63) {
  left: 37%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 5623ms;
          animation-duration: 5623ms;
  -webkit-animation-delay: 2527ms;
          animation-delay: 2527ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(64) {
  left: 36%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 9558ms;
          animation-duration: 9558ms;
  -webkit-animation-delay: 797ms;
          animation-delay: 797ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(65) {
  left: 31%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 9529ms;
          animation-duration: 9529ms;
  -webkit-animation-delay: 2988ms;
          animation-delay: 2988ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(66) {
  left: 10%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 9705ms;
          animation-duration: 9705ms;
  -webkit-animation-delay: 4941ms;
          animation-delay: 4941ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(67) {
  left: 84%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 9569ms;
          animation-duration: 9569ms;
  -webkit-animation-delay: 4734ms;
          animation-delay: 4734ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(68) {
  left: 84%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6317ms;
          animation-duration: 6317ms;
  -webkit-animation-delay: 741ms;
          animation-delay: 741ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(69) {
  left: 45%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 7899ms;
          animation-duration: 7899ms;
  -webkit-animation-delay: 3374ms;
          animation-delay: 3374ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(70) {
  left: 62%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6355ms;
          animation-duration: 6355ms;
  -webkit-animation-delay: 394ms;
          animation-delay: 394ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(71) {
  left: 12%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 13618ms;
          animation-duration: 13618ms;
  -webkit-animation-delay: 4294ms;
          animation-delay: 4294ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(72) {
  left: 83%;
  width: 24px;
  height: 24px;
  -webkit-animation-duration: 6601ms;
          animation-duration: 6601ms;
  -webkit-animation-delay: 3675ms;
          animation-delay: 3675ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(73) {
  left: 98%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 9533ms;
          animation-duration: 9533ms;
  -webkit-animation-delay: 2897ms;
          animation-delay: 2897ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(74) {
  left: 53%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 9856ms;
          animation-duration: 9856ms;
  -webkit-animation-delay: 4819ms;
          animation-delay: 4819ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(75) {
  left: 2%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 9347ms;
          animation-duration: 9347ms;
  -webkit-animation-delay: 1085ms;
          animation-delay: 1085ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(76) {
  left: 102%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 8509ms;
          animation-duration: 8509ms;
  -webkit-animation-delay: 1428ms;
          animation-delay: 1428ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(77) {
  left: 101%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 10120ms;
          animation-duration: 10120ms;
  -webkit-animation-delay: 3725ms;
          animation-delay: 3725ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(78) {
  left: 12%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 7778ms;
          animation-duration: 7778ms;
  -webkit-animation-delay: 3286ms;
          animation-delay: 3286ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(79) {
  left: 103%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 8223ms;
          animation-duration: 8223ms;
  -webkit-animation-delay: 1423ms;
          animation-delay: 1423ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(80) {
  left: 7%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 10267ms;
          animation-duration: 10267ms;
  -webkit-animation-delay: 818ms;
          animation-delay: 818ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(81) {
  left: 59%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 9862ms;
          animation-duration: 9862ms;
  -webkit-animation-delay: 2040ms;
          animation-delay: 2040ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(82) {
  left: 86%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 8537ms;
          animation-duration: 8537ms;
  -webkit-animation-delay: 1633ms;
          animation-delay: 1633ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(83) {
  left: 80%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 6071ms;
          animation-duration: 6071ms;
  -webkit-animation-delay: 2805ms;
          animation-delay: 2805ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(84) {
  left: 108%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8865ms;
          animation-duration: 8865ms;
  -webkit-animation-delay: 1820ms;
          animation-delay: 1820ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(85) {
  left: 4%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 5725ms;
          animation-duration: 5725ms;
  -webkit-animation-delay: 1560ms;
          animation-delay: 1560ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(86) {
  left: 27%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 10147ms;
          animation-duration: 10147ms;
  -webkit-animation-delay: 226ms;
          animation-delay: 226ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(87) {
  left: 68%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 7143ms;
          animation-duration: 7143ms;
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(88) {
  left: 17%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 5623ms;
          animation-duration: 5623ms;
  -webkit-animation-delay: 1094ms;
          animation-delay: 1094ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(89) {
  left: 138%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 8108ms;
          animation-duration: 8108ms;
  -webkit-animation-delay: 2404ms;
          animation-delay: 2404ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(90) {
  left: 12%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 6333ms;
          animation-duration: 6333ms;
  -webkit-animation-delay: 826ms;
          animation-delay: 826ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(91) {
  left: 64%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 5673ms;
          animation-duration: 5673ms;
  -webkit-animation-delay: 2038ms;
          animation-delay: 2038ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(92) {
  left: 89%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 7978ms;
          animation-duration: 7978ms;
  -webkit-animation-delay: 4056ms;
          animation-delay: 4056ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(93) {
  left: 22%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 7994ms;
          animation-duration: 7994ms;
  -webkit-animation-delay: 472ms;
          animation-delay: 472ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(94) {
  left: 32%;
  width: 22px;
  height: 22px;
  -webkit-animation-duration: 6455ms;
          animation-duration: 6455ms;
  -webkit-animation-delay: 2066ms;
          animation-delay: 2066ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(95) {
  left: 64%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6530ms;
          animation-duration: 6530ms;
  -webkit-animation-delay: 3715ms;
          animation-delay: 3715ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(96) {
  left: 47%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 5778ms;
          animation-duration: 5778ms;
  -webkit-animation-delay: 313ms;
          animation-delay: 313ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(97) {
  left: 96%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 7827ms;
          animation-duration: 7827ms;
  -webkit-animation-delay: 2048ms;
          animation-delay: 2048ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(98) {
  left: 102%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 8206ms;
          animation-duration: 8206ms;
  -webkit-animation-delay: 4331ms;
          animation-delay: 4331ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(99) {
  left: 14%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 7942ms;
          animation-duration: 7942ms;
  -webkit-animation-delay: 1330ms;
          animation-delay: 1330ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(100) {
  left: 1%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 12698ms;
          animation-duration: 12698ms;
  -webkit-animation-delay: 2503ms;
          animation-delay: 2503ms;
  filter: blur(1px);
}

@-webkit-keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}/*# sourceMappingURL=light-theme-background.css.map */