.work-card{
    background-color: rgba(50, 48, 53, 0.537);
    width: 94vw;
    height: 92vh;
    border-radius: 20px;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
    &::-webkit-scrollbar { 
        display: none;          /* Safari and Chrome */
    }
}


.sec3{
    z-index: -1;
}



//                 Title Animation  

$colors: #e2dfeb, #031425fe, #ece4f4, #010807;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 8s;
$time-step: calc($time/$max);

        /* Main styles */

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

        /* Other styles */

svg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


//                    Projects flex

.projects-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    //flex-basis: 33.333333%;
    padding: 12px;
    
}

.project-container{
    width: 60%;
    height: 45vh;
    border-radius: 8px;
    margin: 6px;
    background: linear-gradient(to right, black , white);;
    padding: 14px;
    //border: 3px solid rgba(15, 112, 209, 0.542);
    //border-style: outset;
}

.project-container:hover{
  .proj-title-line{
    width: 320px;
    transition: 0.4s ease-in-out;
  }
  box-shadow: 0 0 50px rgba(33, 33, 33, 0.841);
  background: linear-gradient(to right, white, black );
  transition: 0.4s ease-in-out;
  height: 47vh;
  width: 62%;
}


.project-innerwrap{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,white,black);
    display:flex;
}



.proj-info{
    width: 60%;
    height: 100%;
    padding: 22px;
    .proj-title{
      font-size: 42px;
    }
    .proj-title-line{
      height:12px;
      width:12px;
      border-radius:5px;
      background-color: aquamarine;
    }
    .proj-stack{
      color: rgb(85, 79, 79);
    }
    .proj-detail{
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding-top: 18px;
      font-size: 18px;
      color: rgb(28, 60, 105)
    }
}

.proj-demo{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .demo-img{
      border-radius: 4px;
      height:170px;
      width:300px;
    }
    
    .proj-demo-buttons{
      position:absolute;
      text-align: center;
      display: inline-flex;
      .proj-btn{
        min-width: 90px;
        padding: 10px;
        margin: 8px;
        border-radius: 8px;
        background-color: aqua;
        display: none;
      }
    }
}

.proj-demo:hover{
  .demo-img{
    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
    filter: blur(4px);
    transition: 0.2s ease-in-out;
  }
  .proj-btn{
    display: block;
  }
  
}

