#toggle-btn {
  position: absolute;
  top: 8vh;
  right: 5vw;
  z-index: 15;
}

.checkbox {
  opacity: 0;
  position: fixed;
}

.label {
  width: 38px;
  height: 20px;
  background-color: #111;
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  transform: scale(1.5);
}

.ball {
  width: 16px;
  height: 16px;
  background-color: rgb(3, 6, 15);
  position: fixed;
  top: 2px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(18px);
}

.fa-moon {
  color: pink;
  font-size: 12px;
}

.fa-sun {
  color: yellow;
  font-size: 12px;
}

@media screen and (max-width: 1200px) and (min-width: 500px) {
  #toggle-btn {
    top: 2vh;
    right: 4vw;
  }
}
@media screen and (max-width: 500px) {
  #toggle-btn {
    top: 2vh;
    right: 3vw;
  }
  .label {
    width: 28px;
    height: 12px;
  }
  .ball {
    width: 11px;
    height: 11px;
    top: 1px;
    left: 2px;
  }
  .checkbox:checked + .label .ball {
    transform: translateX(12px);
  }
  .fa-moon {
    font-size: 7px;
  }
  .fa-sun {
    font-size: 7px;
  }
}
.dark-mode {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}

.star1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1911px 841px #FFF , 666px 205px #FFF , 155px 452px #FFF , 1365px 644px #FFF , 772px 1063px #FFF , 999px 1266px #FFF , 1238px 350px #FFF , 1445px 1362px #FFF , 1645px 181px #FFF , 217px 1424px #FFF , 1885px 1395px #FFF , 728px 553px #FFF , 1454px 593px #FFF , 1010px 1089px #FFF , 1888px 476px #FFF , 1055px 312px #FFF , 1296px 1870px #FFF , 1312px 186px #FFF , 324px 637px #FFF , 1294px 806px #FFF , 1610px 889px #FFF , 152px 1596px #FFF , 1724px 682px #FFF , 328px 800px #FFF , 551px 41px #FFF , 117px 657px #FFF , 196px 47px #FFF , 449px 889px #FFF , 414px 1206px #FFF , 1658px 1052px #FFF , 1343px 170px #FFF , 1973px 1350px #FFF , 1126px 468px #FFF , 1754px 1493px #FFF , 1268px 437px #FFF , 1398px 298px #FFF , 539px 1564px #FFF , 1651px 1773px #FFF , 761px 918px #FFF , 470px 1226px #FFF , 708px 1060px #FFF , 862px 636px #FFF , 252px 512px #FFF , 928px 1587px #FFF , 965px 371px #FFF , 208px 1930px #FFF , 473px 1232px #FFF , 888px 208px #FFF , 1191px 1950px #FFF , 687px 723px #FFF , 588px 509px #FFF , 1579px 1501px #FFF , 8px 553px #FFF , 1361px 1790px #FFF , 537px 634px #FFF , 1965px 1011px #FFF , 1693px 1082px #FFF , 932px 1100px #FFF , 679px 278px #FFF , 879px 126px #FFF , 564px 352px #FFF , 1997px 440px #FFF , 867px 1479px #FFF , 129px 1599px #FFF , 1322px 124px #FFF , 151px 1318px #FFF , 1486px 1975px #FFF , 1148px 263px #FFF , 317px 1151px #FFF , 192px 633px #FFF , 1793px 387px #FFF , 1993px 1156px #FFF , 13px 1485px #FFF , 1485px 1627px #FFF , 1059px 126px #FFF , 752px 916px #FFF , 1734px 427px #FFF , 512px 1092px #FFF , 114px 173px #FFF , 1386px 1067px #FFF , 261px 1333px #FFF , 848px 1634px #FFF , 121px 651px #FFF , 580px 49px #FFF , 1289px 863px #FFF , 332px 1181px #FFF , 1658px 1764px #FFF , 577px 1609px #FFF , 496px 149px #FFF , 692px 1747px #FFF , 667px 1098px #FFF , 424px 1002px #FFF , 213px 156px #FFF , 188px 1233px #FFF , 1256px 843px #FFF , 467px 1976px #FFF , 757px 1552px #FFF , 457px 562px #FFF , 1270px 305px #FFF , 1136px 825px #FFF , 1865px 814px #FFF , 126px 419px #FFF , 1661px 1786px #FFF , 1763px 1932px #FFF , 251px 622px #FFF , 1107px 1273px #FFF , 234px 630px #FFF , 1405px 201px #FFF , 924px 1513px #FFF , 143px 3px #FFF , 1472px 1831px #FFF , 1925px 1107px #FFF , 794px 1806px #FFF , 1714px 176px #FFF , 248px 433px #FFF , 145px 1635px #FFF , 812px 313px #FFF , 1604px 1550px #FFF , 11px 442px #FFF , 34px 1343px #FFF , 613px 1998px #FFF , 871px 1518px #FFF , 1083px 1739px #FFF , 1159px 179px #FFF , 1732px 1654px #FFF , 1258px 1669px #FFF , 738px 1830px #FFF , 698px 1536px #FFF , 434px 189px #FFF , 1484px 1328px #FFF , 1165px 1749px #FFF , 1177px 1507px #FFF , 277px 705px #FFF , 1748px 1220px #FFF , 1636px 1579px #FFF , 288px 260px #FFF , 1642px 155px #FFF , 1002px 1512px #FFF , 850px 92px #FFF , 1208px 459px #FFF , 738px 631px #FFF , 159px 1046px #FFF , 74px 1919px #FFF , 772px 1947px #FFF , 1393px 303px #FFF , 462px 867px #FFF , 1710px 654px #FFF , 1580px 560px #FFF , 730px 1568px #FFF , 1644px 988px #FFF , 1113px 1155px #FFF , 1539px 1267px #FFF , 898px 1482px #FFF , 1004px 1989px #FFF , 1769px 1813px #FFF , 1519px 108px #FFF , 1562px 1708px #FFF , 1961px 1501px #FFF , 352px 1892px #FFF , 1732px 1222px #FFF , 502px 1505px #FFF , 520px 1961px #FFF , 662px 827px #FFF , 1566px 1813px #FFF , 1334px 266px #FFF , 747px 1430px #FFF , 132px 784px #FFF , 64px 1543px #FFF , 1467px 345px #FFF , 129px 226px #FFF , 1755px 1634px #FFF , 1995px 1874px #FFF , 1485px 1842px #FFF , 1544px 1708px #FFF , 940px 1487px #FFF , 1666px 140px #FFF , 821px 1354px #FFF , 543px 410px #FFF , 1313px 611px #FFF , 1526px 1873px #FFF , 424px 1756px #FFF , 1650px 1236px #FFF , 1054px 324px #FFF , 1087px 1878px #FFF , 44px 187px #FFF , 817px 1723px #FFF , 1130px 1848px #FFF , 1812px 965px #FFF , 1130px 1858px #FFF , 16px 779px #FFF , 476px 1074px #FFF , 815px 1401px #FFF , 1838px 1944px #FFF , 1970px 1219px #FFF , 1869px 914px #FFF , 1268px 1721px #FFF , 1178px 228px #FFF , 579px 517px #FFF , 18px 1484px #FFF , 1171px 1614px #FFF , 860px 1315px #FFF , 863px 952px #FFF , 89px 1478px #FFF , 178px 1394px #FFF , 1466px 1067px #FFF , 834px 1001px #FFF , 548px 161px #FFF , 487px 192px #FFF , 1280px 772px #FFF , 1684px 742px #FFF , 237px 410px #FFF , 1029px 1011px #FFF , 769px 625px #FFF , 1387px 1885px #FFF , 1282px 1565px #FFF , 447px 1934px #FFF , 368px 1677px #FFF , 1708px 385px #FFF , 363px 1315px #FFF , 1100px 1548px #FFF , 1565px 840px #FFF , 1537px 1141px #FFF , 1046px 1869px #FFF , 915px 1556px #FFF , 508px 206px #FFF , 1178px 1738px #FFF , 1820px 898px #FFF , 1864px 1017px #FFF , 259px 311px #FFF , 1682px 1846px #FFF , 1499px 1009px #FFF , 1970px 1150px #FFF , 1333px 586px #FFF , 236px 390px #FFF , 425px 290px #FFF , 758px 1738px #FFF , 1124px 1723px #FFF , 8px 1636px #FFF , 995px 1641px #FFF , 1989px 1359px #FFF , 1929px 1233px #FFF , 1768px 899px #FFF , 155px 636px #FFF , 352px 1398px #FFF , 341px 1528px #FFF , 842px 1963px #FFF , 960px 1074px #FFF , 963px 433px #FFF , 1941px 1141px #FFF , 1964px 1151px #FFF , 959px 502px #FFF , 76px 423px #FFF , 1150px 1611px #FFF , 1700px 133px #FFF , 197px 365px #FFF , 947px 1205px #FFF , 1302px 298px #FFF , 955px 1079px #FFF , 1994px 387px #FFF , 1204px 1437px #FFF , 1601px 728px #FFF , 837px 472px #FFF , 1495px 1121px #FFF , 1570px 815px #FFF , 1799px 898px #FFF , 1582px 503px #FFF , 1464px 890px #FFF , 1689px 544px #FFF , 541px 546px #FFF , 1542px 1268px #FFF , 1105px 1268px #FFF , 154px 750px #FFF , 320px 1865px #FFF , 407px 1005px #FFF , 1126px 1077px #FFF , 677px 643px #FFF , 1927px 1945px #FFF , 152px 308px #FFF , 1948px 1664px #FFF , 999px 819px #FFF , 1318px 418px #FFF , 1234px 528px #FFF , 754px 1434px #FFF , 1563px 1249px #FFF , 1951px 21px #FFF , 1126px 1622px #FFF , 810px 472px #FFF , 1642px 33px #FFF , 377px 947px #FFF , 513px 581px #FFF , 154px 421px #FFF , 1942px 316px #FFF , 706px 465px #FFF , 279px 1197px #FFF , 945px 417px #FFF , 1564px 85px #FFF , 750px 7px #FFF , 1803px 1772px #FFF , 1856px 1638px #FFF , 451px 1785px #FFF , 1913px 634px #FFF , 1971px 1610px #FFF , 903px 1932px #FFF , 297px 618px #FFF , 1900px 945px #FFF , 206px 1361px #FFF , 1406px 989px #FFF , 846px 258px #FFF , 1070px 1556px #FFF , 1328px 1218px #FFF , 351px 604px #FFF , 774px 998px #FFF , 802px 1290px #FFF , 1815px 1725px #FFF , 1260px 160px #FFF , 765px 1724px #FFF , 783px 1260px #FFF , 932px 718px #FFF , 175px 351px #FFF , 1883px 1653px #FFF , 1855px 930px #FFF , 1047px 6px #FFF , 690px 438px #FFF , 1792px 404px #FFF , 1817px 236px #FFF , 1316px 1652px #FFF , 1474px 257px #FFF , 19px 162px #FFF , 1162px 1016px #FFF , 1806px 955px #FFF , 205px 790px #FFF , 1952px 1310px #FFF , 262px 2000px #FFF , 391px 1743px #FFF , 1811px 589px #FFF , 1598px 1406px #FFF , 1496px 1925px #FFF , 722px 196px #FFF , 303px 1069px #FFF , 1545px 785px #FFF , 1295px 1326px #FFF , 1604px 1416px #FFF , 1735px 165px #FFF , 1874px 1704px #FFF , 856px 1216px #FFF , 459px 1180px #FFF , 884px 1331px #FFF , 298px 1622px #FFF , 1063px 1285px #FFF , 655px 49px #FFF , 483px 222px #FFF , 407px 1972px #FFF , 286px 1145px #FFF , 1016px 139px #FFF , 924px 1664px #FFF , 999px 1540px #FFF , 1432px 1246px #FFF , 691px 92px #FFF , 509px 367px #FFF , 170px 1107px #FFF , 1837px 404px #FFF , 926px 1042px #FFF , 1259px 1377px #FFF , 590px 1880px #FFF , 1035px 1805px #FFF , 1867px 1644px #FFF , 1045px 1142px #FFF , 1764px 303px #FFF , 911px 1365px #FFF , 590px 1364px #FFF , 133px 620px #FFF , 841px 118px #FFF , 1605px 833px #FFF , 1580px 805px #FFF , 995px 672px #FFF , 740px 1368px #FFF , 470px 1327px #FFF , 322px 1531px #FFF , 886px 1961px #FFF , 171px 727px #FFF , 397px 511px #FFF , 1252px 1957px #FFF , 1363px 1155px #FFF , 472px 50px #FFF , 544px 617px #FFF , 1058px 741px #FFF , 118px 1486px #FFF , 1888px 1744px #FFF , 1543px 901px #FFF , 530px 1422px #FFF , 1545px 68px #FFF , 1485px 183px #FFF , 122px 868px #FFF , 1673px 1985px #FFF , 1938px 639px #FFF , 122px 659px #FFF , 307px 777px #FFF , 745px 134px #FFF , 1966px 647px #FFF , 452px 581px #FFF , 679px 1677px #FFF , 1503px 1988px #FFF , 691px 167px #FFF , 196px 507px #FFF , 287px 185px #FFF , 1853px 1134px #FFF , 1616px 386px #FFF , 1181px 489px #FFF , 1060px 586px #FFF , 839px 112px #FFF , 476px 1594px #FFF , 209px 1284px #FFF , 1647px 174px #FFF , 1257px 1175px #FFF , 1644px 1446px #FFF , 492px 1323px #FFF , 596px 571px #FFF , 373px 1863px #FFF , 1570px 31px #FFF , 927px 1642px #FFF , 598px 1178px #FFF , 1555px 1194px #FFF , 417px 460px #FFF , 1975px 1916px #FFF , 222px 1184px #FFF , 47px 1756px #FFF , 1230px 475px #FFF , 1745px 981px #FFF , 481px 884px #FFF , 540px 1709px #FFF , 1165px 256px #FFF , 1673px 1182px #FFF , 1395px 1666px #FFF , 688px 199px #FFF , 1483px 1509px #FFF , 771px 1604px #FFF , 1172px 931px #FFF , 289px 598px #FFF , 386px 780px #FFF , 593px 1959px #FFF , 1965px 1642px #FFF , 1332px 1368px #FFF , 831px 810px #FFF , 1421px 1531px #FFF , 1103px 1906px #FFF , 1752px 1519px #FFF , 1264px 1066px #FFF , 1171px 1504px #FFF , 1241px 656px #FFF , 851px 574px #FFF , 1157px 1260px #FFF , 742px 142px #FFF , 1913px 918px #FFF , 1556px 602px #FFF , 651px 1737px #FFF , 182px 1343px #FFF , 353px 1647px #FFF , 1550px 1903px #FFF , 304px 472px #FFF , 70px 858px #FFF , 1123px 1199px #FFF , 1478px 446px #FFF , 662px 99px #FFF , 492px 430px #FFF , 1619px 920px #FFF , 455px 1396px #FFF , 245px 368px #FFF , 451px 1987px #FFF , 1669px 659px #FFF , 1286px 1927px #FFF , 1558px 37px #FFF , 97px 625px #FFF , 1432px 277px #FFF , 931px 1010px #FFF , 1057px 1708px #FFF , 377px 576px #FFF , 454px 1776px #FFF , 95px 1105px #FFF , 970px 901px #FFF , 939px 1174px #FFF , 910px 794px #FFF , 722px 1177px #FFF , 82px 871px #FFF , 878px 134px #FFF , 320px 1541px #FFF , 973px 873px #FFF , 1118px 1768px #FFF , 1435px 538px #FFF , 635px 1030px #FFF , 1665px 1779px #FFF , 302px 1220px #FFF , 1386px 218px #FFF , 864px 1055px #FFF , 511px 1502px #FFF , 1043px 170px #FFF , 1058px 1353px #FFF , 189px 65px #FFF , 427px 580px #FFF , 1534px 929px #FFF , 1882px 1037px #FFF , 1510px 1235px #FFF , 52px 890px #FFF , 1890px 457px #FFF , 379px 1736px #FFF , 1418px 222px #FFF , 1920px 1221px #FFF , 1953px 1427px #FFF , 695px 480px #FFF , 1145px 1390px #FFF , 606px 326px #FFF , 1518px 338px #FFF , 486px 1736px #FFF , 396px 576px #FFF , 677px 1724px #FFF , 1513px 1619px #FFF , 246px 558px #FFF , 647px 650px #FFF , 1227px 719px #FFF , 605px 991px #FFF , 988px 582px #FFF , 1493px 1431px #FFF , 1098px 1187px #FFF , 1px 507px #FFF , 1484px 181px #FFF , 891px 1064px #FFF , 973px 664px #FFF , 112px 172px #FFF , 990px 35px #FFF , 1354px 1129px #FFF , 76px 529px #FFF , 1236px 327px #FFF , 1207px 1276px #FFF , 546px 658px #FFF , 1108px 954px #FFF , 1818px 1914px #FFF , 761px 252px #FFF , 469px 878px #FFF , 1003px 1595px #FFF , 1482px 903px #FFF , 1576px 1245px #FFF , 1339px 1525px #FFF , 920px 1900px #FFF , 1768px 1044px #FFF , 1512px 1094px #FFF , 441px 214px #FFF , 1137px 1358px #FFF , 826px 153px #FFF , 63px 753px #FFF , 1620px 1095px #FFF , 1024px 1520px #FFF , 1349px 482px #FFF , 136px 494px #FFF , 1873px 78px #FFF , 426px 1188px #FFF , 686px 1004px #FFF , 1108px 163px #FFF , 1976px 1281px #FFF , 1185px 811px #FFF , 1020px 293px #FFF , 288px 1437px #FFF , 1014px 1422px #FFF , 265px 1889px #FFF , 673px 29px #FFF , 1456px 246px #FFF , 1871px 1524px #FFF , 908px 1808px #FFF , 707px 1095px #FFF , 1271px 900px #FFF , 1359px 1641px #FFF , 674px 1092px #FFF , 538px 749px #FFF , 872px 867px #FFF , 680px 1292px #FFF , 1899px 246px #FFF , 767px 884px #FFF , 159px 1866px #FFF , 299px 1052px #FFF , 169px 36px #FFF , 1837px 338px #FFF , 1208px 323px #FFF , 147px 1478px #FFF , 1962px 1792px #FFF , 769px 550px #FFF , 1672px 1506px #FFF , 1029px 1402px #FFF , 1711px 1164px #FFF , 1143px 1291px #FFF , 209px 1546px #FFF , 1225px 43px #FFF , 1109px 379px #FFF , 935px 21px #FFF , 1292px 1226px #FFF , 430px 402px #FFF , 1960px 1906px #FFF , 468px 1221px #FFF , 955px 1664px #FFF , 382px 627px #FFF , 141px 541px #FFF , 1796px 1779px #FFF , 799px 467px #FFF , 1848px 972px #FFF , 199px 1860px #FFF , 1762px 1877px #FFF , 655px 1399px #FFF , 936px 1012px #FFF , 1584px 800px #FFF , 1911px 1194px #FFF , 1225px 20px #FFF , 227px 1794px #FFF , 1827px 1115px #FFF , 168px 1385px #FFF , 1209px 787px #FFF , 643px 1460px #FFF , 1395px 1649px #FFF , 825px 1540px #FFF , 1678px 928px #FFF , 1003px 1443px #FFF , 1897px 585px #FFF , 657px 1837px #FFF , 1214px 28px #FFF , 1371px 46px #FFF , 67px 16px #FFF , 1957px 1150px #FFF , 583px 717px #FFF , 177px 1941px #FFF , 1354px 1472px #FFF , 872px 1731px #FFF , 1983px 634px #FFF , 1197px 454px #FFF , 180px 1596px #FFF , 833px 586px #FFF , 1186px 925px #FFF , 469px 1999px #FFF , 1197px 333px #FFF , 750px 87px #FFF , 372px 198px #FFF , 1139px 1465px #FFF , 1247px 1177px #FFF , 1226px 441px #FFF , 1241px 627px #FFF , 480px 761px #FFF , 1700px 1594px #FFF , 1389px 412px #FFF , 1624px 1438px #FFF , 581px 1082px #FFF , 306px 664px #FFF , 1522px 1113px #FFF , 1958px 1110px #FFF , 1736px 1706px #FFF , 1669px 776px #FFF , 1986px 1973px #FFF , 793px 1244px #FFF , 67px 350px #FFF , 1200px 1962px #FFF , 910px 1096px #FFF , 1344px 1390px #FFF , 1302px 181px #FFF , 1819px 1784px #FFF , 1919px 1613px #FFF , 1351px 23px #FFF , 1420px 1387px #FFF , 566px 445px #FFF , 506px 302px #FFF , 360px 713px #FFF , 1950px 1546px #FFF , 1508px 594px #FFF , 1628px 1974px #FFF , 138px 1431px #FFF , 398px 291px #FFF , 1507px 807px #FFF , 1653px 1440px #FFF , 1259px 1312px #FFF , 1145px 246px #FFF , 492px 1706px #FFF , 1837px 1405px #FFF , 1042px 59px #FFF , 6px 1548px #FFF , 466px 1003px #FFF , 1969px 866px #FFF , 905px 943px #FFF , 1887px 1405px #FFF , 1393px 365px #FFF , 50px 1025px #FFF , 1410px 136px #FFF , 1900px 313px #FFF , 1562px 849px #FFF , 687px 1976px #FFF , 541px 1321px #FFF , 1888px 1859px #FFF , 874px 29px #FFF , 1601px 746px #FFF , 736px 268px #FFF , 1875px 1525px #FFF , 879px 1829px #FFF , 237px 525px #FFF , 260px 1144px #FFF , 317px 1968px #FFF , 1106px 1884px #FFF , 1008px 750px #FFF , 1660px 1232px #FFF;
  animation: animStar 50s linear infinite;
}
.star1:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1911px 841px #FFF , 666px 205px #FFF , 155px 452px #FFF , 1365px 644px #FFF , 772px 1063px #FFF , 999px 1266px #FFF , 1238px 350px #FFF , 1445px 1362px #FFF , 1645px 181px #FFF , 217px 1424px #FFF , 1885px 1395px #FFF , 728px 553px #FFF , 1454px 593px #FFF , 1010px 1089px #FFF , 1888px 476px #FFF , 1055px 312px #FFF , 1296px 1870px #FFF , 1312px 186px #FFF , 324px 637px #FFF , 1294px 806px #FFF , 1610px 889px #FFF , 152px 1596px #FFF , 1724px 682px #FFF , 328px 800px #FFF , 551px 41px #FFF , 117px 657px #FFF , 196px 47px #FFF , 449px 889px #FFF , 414px 1206px #FFF , 1658px 1052px #FFF , 1343px 170px #FFF , 1973px 1350px #FFF , 1126px 468px #FFF , 1754px 1493px #FFF , 1268px 437px #FFF , 1398px 298px #FFF , 539px 1564px #FFF , 1651px 1773px #FFF , 761px 918px #FFF , 470px 1226px #FFF , 708px 1060px #FFF , 862px 636px #FFF , 252px 512px #FFF , 928px 1587px #FFF , 965px 371px #FFF , 208px 1930px #FFF , 473px 1232px #FFF , 888px 208px #FFF , 1191px 1950px #FFF , 687px 723px #FFF , 588px 509px #FFF , 1579px 1501px #FFF , 8px 553px #FFF , 1361px 1790px #FFF , 537px 634px #FFF , 1965px 1011px #FFF , 1693px 1082px #FFF , 932px 1100px #FFF , 679px 278px #FFF , 879px 126px #FFF , 564px 352px #FFF , 1997px 440px #FFF , 867px 1479px #FFF , 129px 1599px #FFF , 1322px 124px #FFF , 151px 1318px #FFF , 1486px 1975px #FFF , 1148px 263px #FFF , 317px 1151px #FFF , 192px 633px #FFF , 1793px 387px #FFF , 1993px 1156px #FFF , 13px 1485px #FFF , 1485px 1627px #FFF , 1059px 126px #FFF , 752px 916px #FFF , 1734px 427px #FFF , 512px 1092px #FFF , 114px 173px #FFF , 1386px 1067px #FFF , 261px 1333px #FFF , 848px 1634px #FFF , 121px 651px #FFF , 580px 49px #FFF , 1289px 863px #FFF , 332px 1181px #FFF , 1658px 1764px #FFF , 577px 1609px #FFF , 496px 149px #FFF , 692px 1747px #FFF , 667px 1098px #FFF , 424px 1002px #FFF , 213px 156px #FFF , 188px 1233px #FFF , 1256px 843px #FFF , 467px 1976px #FFF , 757px 1552px #FFF , 457px 562px #FFF , 1270px 305px #FFF , 1136px 825px #FFF , 1865px 814px #FFF , 126px 419px #FFF , 1661px 1786px #FFF , 1763px 1932px #FFF , 251px 622px #FFF , 1107px 1273px #FFF , 234px 630px #FFF , 1405px 201px #FFF , 924px 1513px #FFF , 143px 3px #FFF , 1472px 1831px #FFF , 1925px 1107px #FFF , 794px 1806px #FFF , 1714px 176px #FFF , 248px 433px #FFF , 145px 1635px #FFF , 812px 313px #FFF , 1604px 1550px #FFF , 11px 442px #FFF , 34px 1343px #FFF , 613px 1998px #FFF , 871px 1518px #FFF , 1083px 1739px #FFF , 1159px 179px #FFF , 1732px 1654px #FFF , 1258px 1669px #FFF , 738px 1830px #FFF , 698px 1536px #FFF , 434px 189px #FFF , 1484px 1328px #FFF , 1165px 1749px #FFF , 1177px 1507px #FFF , 277px 705px #FFF , 1748px 1220px #FFF , 1636px 1579px #FFF , 288px 260px #FFF , 1642px 155px #FFF , 1002px 1512px #FFF , 850px 92px #FFF , 1208px 459px #FFF , 738px 631px #FFF , 159px 1046px #FFF , 74px 1919px #FFF , 772px 1947px #FFF , 1393px 303px #FFF , 462px 867px #FFF , 1710px 654px #FFF , 1580px 560px #FFF , 730px 1568px #FFF , 1644px 988px #FFF , 1113px 1155px #FFF , 1539px 1267px #FFF , 898px 1482px #FFF , 1004px 1989px #FFF , 1769px 1813px #FFF , 1519px 108px #FFF , 1562px 1708px #FFF , 1961px 1501px #FFF , 352px 1892px #FFF , 1732px 1222px #FFF , 502px 1505px #FFF , 520px 1961px #FFF , 662px 827px #FFF , 1566px 1813px #FFF , 1334px 266px #FFF , 747px 1430px #FFF , 132px 784px #FFF , 64px 1543px #FFF , 1467px 345px #FFF , 129px 226px #FFF , 1755px 1634px #FFF , 1995px 1874px #FFF , 1485px 1842px #FFF , 1544px 1708px #FFF , 940px 1487px #FFF , 1666px 140px #FFF , 821px 1354px #FFF , 543px 410px #FFF , 1313px 611px #FFF , 1526px 1873px #FFF , 424px 1756px #FFF , 1650px 1236px #FFF , 1054px 324px #FFF , 1087px 1878px #FFF , 44px 187px #FFF , 817px 1723px #FFF , 1130px 1848px #FFF , 1812px 965px #FFF , 1130px 1858px #FFF , 16px 779px #FFF , 476px 1074px #FFF , 815px 1401px #FFF , 1838px 1944px #FFF , 1970px 1219px #FFF , 1869px 914px #FFF , 1268px 1721px #FFF , 1178px 228px #FFF , 579px 517px #FFF , 18px 1484px #FFF , 1171px 1614px #FFF , 860px 1315px #FFF , 863px 952px #FFF , 89px 1478px #FFF , 178px 1394px #FFF , 1466px 1067px #FFF , 834px 1001px #FFF , 548px 161px #FFF , 487px 192px #FFF , 1280px 772px #FFF , 1684px 742px #FFF , 237px 410px #FFF , 1029px 1011px #FFF , 769px 625px #FFF , 1387px 1885px #FFF , 1282px 1565px #FFF , 447px 1934px #FFF , 368px 1677px #FFF , 1708px 385px #FFF , 363px 1315px #FFF , 1100px 1548px #FFF , 1565px 840px #FFF , 1537px 1141px #FFF , 1046px 1869px #FFF , 915px 1556px #FFF , 508px 206px #FFF , 1178px 1738px #FFF , 1820px 898px #FFF , 1864px 1017px #FFF , 259px 311px #FFF , 1682px 1846px #FFF , 1499px 1009px #FFF , 1970px 1150px #FFF , 1333px 586px #FFF , 236px 390px #FFF , 425px 290px #FFF , 758px 1738px #FFF , 1124px 1723px #FFF , 8px 1636px #FFF , 995px 1641px #FFF , 1989px 1359px #FFF , 1929px 1233px #FFF , 1768px 899px #FFF , 155px 636px #FFF , 352px 1398px #FFF , 341px 1528px #FFF , 842px 1963px #FFF , 960px 1074px #FFF , 963px 433px #FFF , 1941px 1141px #FFF , 1964px 1151px #FFF , 959px 502px #FFF , 76px 423px #FFF , 1150px 1611px #FFF , 1700px 133px #FFF , 197px 365px #FFF , 947px 1205px #FFF , 1302px 298px #FFF , 955px 1079px #FFF , 1994px 387px #FFF , 1204px 1437px #FFF , 1601px 728px #FFF , 837px 472px #FFF , 1495px 1121px #FFF , 1570px 815px #FFF , 1799px 898px #FFF , 1582px 503px #FFF , 1464px 890px #FFF , 1689px 544px #FFF , 541px 546px #FFF , 1542px 1268px #FFF , 1105px 1268px #FFF , 154px 750px #FFF , 320px 1865px #FFF , 407px 1005px #FFF , 1126px 1077px #FFF , 677px 643px #FFF , 1927px 1945px #FFF , 152px 308px #FFF , 1948px 1664px #FFF , 999px 819px #FFF , 1318px 418px #FFF , 1234px 528px #FFF , 754px 1434px #FFF , 1563px 1249px #FFF , 1951px 21px #FFF , 1126px 1622px #FFF , 810px 472px #FFF , 1642px 33px #FFF , 377px 947px #FFF , 513px 581px #FFF , 154px 421px #FFF , 1942px 316px #FFF , 706px 465px #FFF , 279px 1197px #FFF , 945px 417px #FFF , 1564px 85px #FFF , 750px 7px #FFF , 1803px 1772px #FFF , 1856px 1638px #FFF , 451px 1785px #FFF , 1913px 634px #FFF , 1971px 1610px #FFF , 903px 1932px #FFF , 297px 618px #FFF , 1900px 945px #FFF , 206px 1361px #FFF , 1406px 989px #FFF , 846px 258px #FFF , 1070px 1556px #FFF , 1328px 1218px #FFF , 351px 604px #FFF , 774px 998px #FFF , 802px 1290px #FFF , 1815px 1725px #FFF , 1260px 160px #FFF , 765px 1724px #FFF , 783px 1260px #FFF , 932px 718px #FFF , 175px 351px #FFF , 1883px 1653px #FFF , 1855px 930px #FFF , 1047px 6px #FFF , 690px 438px #FFF , 1792px 404px #FFF , 1817px 236px #FFF , 1316px 1652px #FFF , 1474px 257px #FFF , 19px 162px #FFF , 1162px 1016px #FFF , 1806px 955px #FFF , 205px 790px #FFF , 1952px 1310px #FFF , 262px 2000px #FFF , 391px 1743px #FFF , 1811px 589px #FFF , 1598px 1406px #FFF , 1496px 1925px #FFF , 722px 196px #FFF , 303px 1069px #FFF , 1545px 785px #FFF , 1295px 1326px #FFF , 1604px 1416px #FFF , 1735px 165px #FFF , 1874px 1704px #FFF , 856px 1216px #FFF , 459px 1180px #FFF , 884px 1331px #FFF , 298px 1622px #FFF , 1063px 1285px #FFF , 655px 49px #FFF , 483px 222px #FFF , 407px 1972px #FFF , 286px 1145px #FFF , 1016px 139px #FFF , 924px 1664px #FFF , 999px 1540px #FFF , 1432px 1246px #FFF , 691px 92px #FFF , 509px 367px #FFF , 170px 1107px #FFF , 1837px 404px #FFF , 926px 1042px #FFF , 1259px 1377px #FFF , 590px 1880px #FFF , 1035px 1805px #FFF , 1867px 1644px #FFF , 1045px 1142px #FFF , 1764px 303px #FFF , 911px 1365px #FFF , 590px 1364px #FFF , 133px 620px #FFF , 841px 118px #FFF , 1605px 833px #FFF , 1580px 805px #FFF , 995px 672px #FFF , 740px 1368px #FFF , 470px 1327px #FFF , 322px 1531px #FFF , 886px 1961px #FFF , 171px 727px #FFF , 397px 511px #FFF , 1252px 1957px #FFF , 1363px 1155px #FFF , 472px 50px #FFF , 544px 617px #FFF , 1058px 741px #FFF , 118px 1486px #FFF , 1888px 1744px #FFF , 1543px 901px #FFF , 530px 1422px #FFF , 1545px 68px #FFF , 1485px 183px #FFF , 122px 868px #FFF , 1673px 1985px #FFF , 1938px 639px #FFF , 122px 659px #FFF , 307px 777px #FFF , 745px 134px #FFF , 1966px 647px #FFF , 452px 581px #FFF , 679px 1677px #FFF , 1503px 1988px #FFF , 691px 167px #FFF , 196px 507px #FFF , 287px 185px #FFF , 1853px 1134px #FFF , 1616px 386px #FFF , 1181px 489px #FFF , 1060px 586px #FFF , 839px 112px #FFF , 476px 1594px #FFF , 209px 1284px #FFF , 1647px 174px #FFF , 1257px 1175px #FFF , 1644px 1446px #FFF , 492px 1323px #FFF , 596px 571px #FFF , 373px 1863px #FFF , 1570px 31px #FFF , 927px 1642px #FFF , 598px 1178px #FFF , 1555px 1194px #FFF , 417px 460px #FFF , 1975px 1916px #FFF , 222px 1184px #FFF , 47px 1756px #FFF , 1230px 475px #FFF , 1745px 981px #FFF , 481px 884px #FFF , 540px 1709px #FFF , 1165px 256px #FFF , 1673px 1182px #FFF , 1395px 1666px #FFF , 688px 199px #FFF , 1483px 1509px #FFF , 771px 1604px #FFF , 1172px 931px #FFF , 289px 598px #FFF , 386px 780px #FFF , 593px 1959px #FFF , 1965px 1642px #FFF , 1332px 1368px #FFF , 831px 810px #FFF , 1421px 1531px #FFF , 1103px 1906px #FFF , 1752px 1519px #FFF , 1264px 1066px #FFF , 1171px 1504px #FFF , 1241px 656px #FFF , 851px 574px #FFF , 1157px 1260px #FFF , 742px 142px #FFF , 1913px 918px #FFF , 1556px 602px #FFF , 651px 1737px #FFF , 182px 1343px #FFF , 353px 1647px #FFF , 1550px 1903px #FFF , 304px 472px #FFF , 70px 858px #FFF , 1123px 1199px #FFF , 1478px 446px #FFF , 662px 99px #FFF , 492px 430px #FFF , 1619px 920px #FFF , 455px 1396px #FFF , 245px 368px #FFF , 451px 1987px #FFF , 1669px 659px #FFF , 1286px 1927px #FFF , 1558px 37px #FFF , 97px 625px #FFF , 1432px 277px #FFF , 931px 1010px #FFF , 1057px 1708px #FFF , 377px 576px #FFF , 454px 1776px #FFF , 95px 1105px #FFF , 970px 901px #FFF , 939px 1174px #FFF , 910px 794px #FFF , 722px 1177px #FFF , 82px 871px #FFF , 878px 134px #FFF , 320px 1541px #FFF , 973px 873px #FFF , 1118px 1768px #FFF , 1435px 538px #FFF , 635px 1030px #FFF , 1665px 1779px #FFF , 302px 1220px #FFF , 1386px 218px #FFF , 864px 1055px #FFF , 511px 1502px #FFF , 1043px 170px #FFF , 1058px 1353px #FFF , 189px 65px #FFF , 427px 580px #FFF , 1534px 929px #FFF , 1882px 1037px #FFF , 1510px 1235px #FFF , 52px 890px #FFF , 1890px 457px #FFF , 379px 1736px #FFF , 1418px 222px #FFF , 1920px 1221px #FFF , 1953px 1427px #FFF , 695px 480px #FFF , 1145px 1390px #FFF , 606px 326px #FFF , 1518px 338px #FFF , 486px 1736px #FFF , 396px 576px #FFF , 677px 1724px #FFF , 1513px 1619px #FFF , 246px 558px #FFF , 647px 650px #FFF , 1227px 719px #FFF , 605px 991px #FFF , 988px 582px #FFF , 1493px 1431px #FFF , 1098px 1187px #FFF , 1px 507px #FFF , 1484px 181px #FFF , 891px 1064px #FFF , 973px 664px #FFF , 112px 172px #FFF , 990px 35px #FFF , 1354px 1129px #FFF , 76px 529px #FFF , 1236px 327px #FFF , 1207px 1276px #FFF , 546px 658px #FFF , 1108px 954px #FFF , 1818px 1914px #FFF , 761px 252px #FFF , 469px 878px #FFF , 1003px 1595px #FFF , 1482px 903px #FFF , 1576px 1245px #FFF , 1339px 1525px #FFF , 920px 1900px #FFF , 1768px 1044px #FFF , 1512px 1094px #FFF , 441px 214px #FFF , 1137px 1358px #FFF , 826px 153px #FFF , 63px 753px #FFF , 1620px 1095px #FFF , 1024px 1520px #FFF , 1349px 482px #FFF , 136px 494px #FFF , 1873px 78px #FFF , 426px 1188px #FFF , 686px 1004px #FFF , 1108px 163px #FFF , 1976px 1281px #FFF , 1185px 811px #FFF , 1020px 293px #FFF , 288px 1437px #FFF , 1014px 1422px #FFF , 265px 1889px #FFF , 673px 29px #FFF , 1456px 246px #FFF , 1871px 1524px #FFF , 908px 1808px #FFF , 707px 1095px #FFF , 1271px 900px #FFF , 1359px 1641px #FFF , 674px 1092px #FFF , 538px 749px #FFF , 872px 867px #FFF , 680px 1292px #FFF , 1899px 246px #FFF , 767px 884px #FFF , 159px 1866px #FFF , 299px 1052px #FFF , 169px 36px #FFF , 1837px 338px #FFF , 1208px 323px #FFF , 147px 1478px #FFF , 1962px 1792px #FFF , 769px 550px #FFF , 1672px 1506px #FFF , 1029px 1402px #FFF , 1711px 1164px #FFF , 1143px 1291px #FFF , 209px 1546px #FFF , 1225px 43px #FFF , 1109px 379px #FFF , 935px 21px #FFF , 1292px 1226px #FFF , 430px 402px #FFF , 1960px 1906px #FFF , 468px 1221px #FFF , 955px 1664px #FFF , 382px 627px #FFF , 141px 541px #FFF , 1796px 1779px #FFF , 799px 467px #FFF , 1848px 972px #FFF , 199px 1860px #FFF , 1762px 1877px #FFF , 655px 1399px #FFF , 936px 1012px #FFF , 1584px 800px #FFF , 1911px 1194px #FFF , 1225px 20px #FFF , 227px 1794px #FFF , 1827px 1115px #FFF , 168px 1385px #FFF , 1209px 787px #FFF , 643px 1460px #FFF , 1395px 1649px #FFF , 825px 1540px #FFF , 1678px 928px #FFF , 1003px 1443px #FFF , 1897px 585px #FFF , 657px 1837px #FFF , 1214px 28px #FFF , 1371px 46px #FFF , 67px 16px #FFF , 1957px 1150px #FFF , 583px 717px #FFF , 177px 1941px #FFF , 1354px 1472px #FFF , 872px 1731px #FFF , 1983px 634px #FFF , 1197px 454px #FFF , 180px 1596px #FFF , 833px 586px #FFF , 1186px 925px #FFF , 469px 1999px #FFF , 1197px 333px #FFF , 750px 87px #FFF , 372px 198px #FFF , 1139px 1465px #FFF , 1247px 1177px #FFF , 1226px 441px #FFF , 1241px 627px #FFF , 480px 761px #FFF , 1700px 1594px #FFF , 1389px 412px #FFF , 1624px 1438px #FFF , 581px 1082px #FFF , 306px 664px #FFF , 1522px 1113px #FFF , 1958px 1110px #FFF , 1736px 1706px #FFF , 1669px 776px #FFF , 1986px 1973px #FFF , 793px 1244px #FFF , 67px 350px #FFF , 1200px 1962px #FFF , 910px 1096px #FFF , 1344px 1390px #FFF , 1302px 181px #FFF , 1819px 1784px #FFF , 1919px 1613px #FFF , 1351px 23px #FFF , 1420px 1387px #FFF , 566px 445px #FFF , 506px 302px #FFF , 360px 713px #FFF , 1950px 1546px #FFF , 1508px 594px #FFF , 1628px 1974px #FFF , 138px 1431px #FFF , 398px 291px #FFF , 1507px 807px #FFF , 1653px 1440px #FFF , 1259px 1312px #FFF , 1145px 246px #FFF , 492px 1706px #FFF , 1837px 1405px #FFF , 1042px 59px #FFF , 6px 1548px #FFF , 466px 1003px #FFF , 1969px 866px #FFF , 905px 943px #FFF , 1887px 1405px #FFF , 1393px 365px #FFF , 50px 1025px #FFF , 1410px 136px #FFF , 1900px 313px #FFF , 1562px 849px #FFF , 687px 1976px #FFF , 541px 1321px #FFF , 1888px 1859px #FFF , 874px 29px #FFF , 1601px 746px #FFF , 736px 268px #FFF , 1875px 1525px #FFF , 879px 1829px #FFF , 237px 525px #FFF , 260px 1144px #FFF , 317px 1968px #FFF , 1106px 1884px #FFF , 1008px 750px #FFF , 1660px 1232px #FFF;
}

.star2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1508px 1813px #FFF , 87px 373px #FFF , 668px 1954px #FFF , 913px 1099px #FFF , 1251px 1511px #FFF , 1608px 1936px #FFF , 446px 1610px #FFF , 1630px 308px #FFF , 1047px 471px #FFF , 1560px 994px #FFF , 998px 146px #FFF , 1941px 13px #FFF , 1013px 706px #FFF , 592px 414px #FFF , 1242px 133px #FFF , 1444px 522px #FFF , 934px 1841px #FFF , 884px 247px #FFF , 1186px 87px #FFF , 515px 363px #FFF , 283px 932px #FFF , 482px 872px #FFF , 1135px 61px #FFF , 1617px 1631px #FFF , 1242px 36px #FFF , 1165px 1783px #FFF , 1121px 754px #FFF , 1556px 1204px #FFF , 961px 1360px #FFF , 1883px 1764px #FFF , 1216px 1554px #FFF , 1803px 1675px #FFF , 1908px 1745px #FFF , 929px 372px #FFF , 1209px 1275px #FFF , 1384px 480px #FFF , 1592px 937px #FFF , 1733px 821px #FFF , 595px 352px #FFF , 1066px 1296px #FFF , 445px 1871px #FFF , 1306px 117px #FFF , 1625px 22px #FFF , 453px 184px #FFF , 1109px 190px #FFF , 111px 1553px #FFF , 945px 289px #FFF , 787px 1711px #FFF , 760px 590px #FFF , 1122px 927px #FFF , 1116px 1189px #FFF , 273px 1317px #FFF , 699px 86px #FFF , 688px 322px #FFF , 997px 322px #FFF , 1767px 1132px #FFF , 1898px 1200px #FFF , 773px 90px #FFF , 604px 1897px #FFF , 1118px 1496px #FFF , 459px 1653px #FFF , 496px 1827px #FFF , 1431px 1281px #FFF , 1938px 1546px #FFF , 348px 91px #FFF , 697px 1752px #FFF , 1539px 1221px #FFF , 832px 1203px #FFF , 842px 533px #FFF , 100px 1926px #FFF , 1603px 304px #FFF , 1306px 1435px #FFF , 1894px 505px #FFF , 258px 976px #FFF , 346px 1249px #FFF , 263px 483px #FFF , 781px 634px #FFF , 514px 979px #FFF , 304px 630px #FFF , 1396px 1328px #FFF , 1994px 1928px #FFF , 1954px 348px #FFF , 1081px 315px #FFF , 1397px 1501px #FFF , 296px 157px #FFF , 590px 976px #FFF , 418px 1466px #FFF , 1748px 67px #FFF , 986px 30px #FFF , 1647px 1409px #FFF , 529px 1606px #FFF , 1583px 1919px #FFF , 661px 110px #FFF , 1777px 662px #FFF , 1897px 158px #FFF , 706px 1948px #FFF , 971px 1801px #FFF , 1104px 972px #FFF , 1953px 1603px #FFF , 773px 88px #FFF , 110px 367px #FFF , 1995px 164px #FFF , 926px 1331px #FFF , 1765px 221px #FFF , 1500px 1533px #FFF , 1468px 1570px #FFF , 91px 1281px #FFF , 69px 1301px #FFF , 815px 1484px #FFF , 1988px 1218px #FFF , 807px 1867px #FFF , 1219px 594px #FFF , 776px 926px #FFF , 1196px 1632px #FFF , 1151px 562px #FFF , 287px 487px #FFF , 1879px 116px #FFF , 1396px 1639px #FFF , 1743px 1422px #FFF , 182px 163px #FFF , 1416px 1736px #FFF , 1046px 1065px #FFF , 1978px 592px #FFF , 1946px 957px #FFF , 387px 238px #FFF , 1253px 1724px #FFF , 1769px 1742px #FFF , 561px 1863px #FFF , 1229px 567px #FFF , 597px 602px #FFF , 310px 1640px #FFF , 262px 1467px #FFF , 466px 1781px #FFF , 1839px 842px #FFF , 1359px 324px #FFF , 800px 156px #FFF , 345px 495px #FFF , 172px 25px #FFF , 355px 1622px #FFF , 714px 826px #FFF , 870px 650px #FFF , 1213px 1359px #FFF , 1391px 14px #FFF , 1275px 1407px #FFF , 466px 1074px #FFF , 942px 1022px #FFF , 1791px 725px #FFF , 1110px 57px #FFF , 483px 1070px #FFF , 175px 893px #FFF , 419px 912px #FFF , 360px 1206px #FFF , 427px 1797px #FFF , 211px 160px #FFF , 1245px 1002px #FFF , 1976px 1143px #FFF , 520px 1957px #FFF , 1457px 231px #FFF , 1554px 1079px #FFF , 1625px 843px #FFF , 1565px 625px #FFF , 1074px 1541px #FFF , 1166px 875px #FFF , 662px 1040px #FFF , 1741px 1028px #FFF , 1716px 1277px #FFF , 619px 192px #FFF , 994px 1072px #FFF , 643px 442px #FFF , 380px 1533px #FFF , 1868px 1236px #FFF , 1171px 1101px #FFF , 1864px 1744px #FFF , 1745px 1750px #FFF , 877px 1166px #FFF , 1028px 1100px #FFF , 1244px 895px #FFF , 747px 1616px #FFF , 1225px 1081px #FFF , 1005px 379px #FFF , 1588px 1913px #FFF , 645px 1042px #FFF , 438px 1885px #FFF , 1757px 834px #FFF , 1774px 822px #FFF , 1936px 1067px #FFF , 1095px 1812px #FFF , 116px 1751px #FFF , 1894px 128px #FFF , 577px 56px #FFF , 1578px 240px #FFF , 1921px 39px #FFF , 1307px 655px #FFF , 1602px 1569px #FFF , 1154px 1707px #FFF , 151px 119px #FFF , 1444px 421px #FFF , 1461px 1533px #FFF , 19px 1122px #FFF , 1304px 1164px #FFF;
  animation: animStar 100s linear infinite;
}
.star2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1508px 1813px #FFF , 87px 373px #FFF , 668px 1954px #FFF , 913px 1099px #FFF , 1251px 1511px #FFF , 1608px 1936px #FFF , 446px 1610px #FFF , 1630px 308px #FFF , 1047px 471px #FFF , 1560px 994px #FFF , 998px 146px #FFF , 1941px 13px #FFF , 1013px 706px #FFF , 592px 414px #FFF , 1242px 133px #FFF , 1444px 522px #FFF , 934px 1841px #FFF , 884px 247px #FFF , 1186px 87px #FFF , 515px 363px #FFF , 283px 932px #FFF , 482px 872px #FFF , 1135px 61px #FFF , 1617px 1631px #FFF , 1242px 36px #FFF , 1165px 1783px #FFF , 1121px 754px #FFF , 1556px 1204px #FFF , 961px 1360px #FFF , 1883px 1764px #FFF , 1216px 1554px #FFF , 1803px 1675px #FFF , 1908px 1745px #FFF , 929px 372px #FFF , 1209px 1275px #FFF , 1384px 480px #FFF , 1592px 937px #FFF , 1733px 821px #FFF , 595px 352px #FFF , 1066px 1296px #FFF , 445px 1871px #FFF , 1306px 117px #FFF , 1625px 22px #FFF , 453px 184px #FFF , 1109px 190px #FFF , 111px 1553px #FFF , 945px 289px #FFF , 787px 1711px #FFF , 760px 590px #FFF , 1122px 927px #FFF , 1116px 1189px #FFF , 273px 1317px #FFF , 699px 86px #FFF , 688px 322px #FFF , 997px 322px #FFF , 1767px 1132px #FFF , 1898px 1200px #FFF , 773px 90px #FFF , 604px 1897px #FFF , 1118px 1496px #FFF , 459px 1653px #FFF , 496px 1827px #FFF , 1431px 1281px #FFF , 1938px 1546px #FFF , 348px 91px #FFF , 697px 1752px #FFF , 1539px 1221px #FFF , 832px 1203px #FFF , 842px 533px #FFF , 100px 1926px #FFF , 1603px 304px #FFF , 1306px 1435px #FFF , 1894px 505px #FFF , 258px 976px #FFF , 346px 1249px #FFF , 263px 483px #FFF , 781px 634px #FFF , 514px 979px #FFF , 304px 630px #FFF , 1396px 1328px #FFF , 1994px 1928px #FFF , 1954px 348px #FFF , 1081px 315px #FFF , 1397px 1501px #FFF , 296px 157px #FFF , 590px 976px #FFF , 418px 1466px #FFF , 1748px 67px #FFF , 986px 30px #FFF , 1647px 1409px #FFF , 529px 1606px #FFF , 1583px 1919px #FFF , 661px 110px #FFF , 1777px 662px #FFF , 1897px 158px #FFF , 706px 1948px #FFF , 971px 1801px #FFF , 1104px 972px #FFF , 1953px 1603px #FFF , 773px 88px #FFF , 110px 367px #FFF , 1995px 164px #FFF , 926px 1331px #FFF , 1765px 221px #FFF , 1500px 1533px #FFF , 1468px 1570px #FFF , 91px 1281px #FFF , 69px 1301px #FFF , 815px 1484px #FFF , 1988px 1218px #FFF , 807px 1867px #FFF , 1219px 594px #FFF , 776px 926px #FFF , 1196px 1632px #FFF , 1151px 562px #FFF , 287px 487px #FFF , 1879px 116px #FFF , 1396px 1639px #FFF , 1743px 1422px #FFF , 182px 163px #FFF , 1416px 1736px #FFF , 1046px 1065px #FFF , 1978px 592px #FFF , 1946px 957px #FFF , 387px 238px #FFF , 1253px 1724px #FFF , 1769px 1742px #FFF , 561px 1863px #FFF , 1229px 567px #FFF , 597px 602px #FFF , 310px 1640px #FFF , 262px 1467px #FFF , 466px 1781px #FFF , 1839px 842px #FFF , 1359px 324px #FFF , 800px 156px #FFF , 345px 495px #FFF , 172px 25px #FFF , 355px 1622px #FFF , 714px 826px #FFF , 870px 650px #FFF , 1213px 1359px #FFF , 1391px 14px #FFF , 1275px 1407px #FFF , 466px 1074px #FFF , 942px 1022px #FFF , 1791px 725px #FFF , 1110px 57px #FFF , 483px 1070px #FFF , 175px 893px #FFF , 419px 912px #FFF , 360px 1206px #FFF , 427px 1797px #FFF , 211px 160px #FFF , 1245px 1002px #FFF , 1976px 1143px #FFF , 520px 1957px #FFF , 1457px 231px #FFF , 1554px 1079px #FFF , 1625px 843px #FFF , 1565px 625px #FFF , 1074px 1541px #FFF , 1166px 875px #FFF , 662px 1040px #FFF , 1741px 1028px #FFF , 1716px 1277px #FFF , 619px 192px #FFF , 994px 1072px #FFF , 643px 442px #FFF , 380px 1533px #FFF , 1868px 1236px #FFF , 1171px 1101px #FFF , 1864px 1744px #FFF , 1745px 1750px #FFF , 877px 1166px #FFF , 1028px 1100px #FFF , 1244px 895px #FFF , 747px 1616px #FFF , 1225px 1081px #FFF , 1005px 379px #FFF , 1588px 1913px #FFF , 645px 1042px #FFF , 438px 1885px #FFF , 1757px 834px #FFF , 1774px 822px #FFF , 1936px 1067px #FFF , 1095px 1812px #FFF , 116px 1751px #FFF , 1894px 128px #FFF , 577px 56px #FFF , 1578px 240px #FFF , 1921px 39px #FFF , 1307px 655px #FFF , 1602px 1569px #FFF , 1154px 1707px #FFF , 151px 119px #FFF , 1444px 421px #FFF , 1461px 1533px #FFF , 19px 1122px #FFF , 1304px 1164px #FFF;
}

.star3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1279px 1414px #FFF , 950px 357px #FFF , 449px 1719px #FFF , 21px 1063px #FFF , 1276px 635px #FFF , 1893px 1960px #FFF , 642px 904px #FFF , 696px 451px #FFF , 540px 942px #FFF , 96px 120px #FFF , 284px 192px #FFF , 1914px 1565px #FFF , 1092px 670px #FFF , 380px 981px #FFF , 56px 638px #FFF , 400px 324px #FFF , 941px 189px #FFF , 363px 371px #FFF , 1827px 1305px #FFF , 464px 560px #FFF , 962px 635px #FFF , 1058px 1407px #FFF , 1982px 614px #FFF , 1123px 1102px #FFF , 156px 580px #FFF , 1918px 1855px #FFF , 1352px 1982px #FFF , 174px 1205px #FFF , 1854px 564px #FFF , 72px 1033px #FFF , 564px 920px #FFF , 1884px 748px #FFF , 1850px 1827px #FFF , 620px 49px #FFF , 1060px 501px #FFF , 747px 1562px #FFF , 1744px 704px #FFF , 1331px 451px #FFF , 712px 1265px #FFF , 752px 594px #FFF , 1885px 1980px #FFF , 1612px 1128px #FFF , 1980px 991px #FFF , 53px 424px #FFF , 141px 638px #FFF , 1003px 1584px #FFF , 1401px 1411px #FFF , 1464px 1044px #FFF , 1099px 1534px #FFF , 1218px 1288px #FFF , 11px 1417px #FFF , 1484px 1875px #FFF , 1838px 599px #FFF , 1500px 1503px #FFF , 1949px 361px #FFF , 1818px 888px #FFF , 445px 1466px #FFF , 1688px 1074px #FFF , 776px 1833px #FFF , 1580px 165px #FFF , 1005px 1212px #FFF , 219px 701px #FFF , 1467px 1828px #FFF , 1151px 62px #FFF , 99px 1078px #FFF , 6px 222px #FFF , 1647px 721px #FFF , 783px 1895px #FFF , 847px 655px #FFF , 1837px 608px #FFF , 1862px 1721px #FFF , 220px 1841px #FFF , 1878px 1337px #FFF , 1385px 955px #FFF , 1024px 1740px #FFF , 277px 727px #FFF , 1050px 1934px #FFF , 1304px 1737px #FFF , 570px 1348px #FFF , 566px 1041px #FFF , 955px 647px #FFF , 1468px 1px #FFF , 386px 975px #FFF , 337px 1251px #FFF , 411px 111px #FFF , 1095px 1534px #FFF , 106px 1495px #FFF , 1861px 494px #FFF , 945px 515px #FFF , 215px 559px #FFF , 418px 1975px #FFF , 1157px 1795px #FFF , 1627px 1944px #FFF , 1286px 1009px #FFF , 940px 422px #FFF , 551px 1882px #FFF , 1177px 167px #FFF , 1036px 1563px #FFF , 1709px 1761px #FFF , 1312px 1866px #FFF;
  animation: animStar 150s linear infinite;
}
.star3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1279px 1414px #FFF , 950px 357px #FFF , 449px 1719px #FFF , 21px 1063px #FFF , 1276px 635px #FFF , 1893px 1960px #FFF , 642px 904px #FFF , 696px 451px #FFF , 540px 942px #FFF , 96px 120px #FFF , 284px 192px #FFF , 1914px 1565px #FFF , 1092px 670px #FFF , 380px 981px #FFF , 56px 638px #FFF , 400px 324px #FFF , 941px 189px #FFF , 363px 371px #FFF , 1827px 1305px #FFF , 464px 560px #FFF , 962px 635px #FFF , 1058px 1407px #FFF , 1982px 614px #FFF , 1123px 1102px #FFF , 156px 580px #FFF , 1918px 1855px #FFF , 1352px 1982px #FFF , 174px 1205px #FFF , 1854px 564px #FFF , 72px 1033px #FFF , 564px 920px #FFF , 1884px 748px #FFF , 1850px 1827px #FFF , 620px 49px #FFF , 1060px 501px #FFF , 747px 1562px #FFF , 1744px 704px #FFF , 1331px 451px #FFF , 712px 1265px #FFF , 752px 594px #FFF , 1885px 1980px #FFF , 1612px 1128px #FFF , 1980px 991px #FFF , 53px 424px #FFF , 141px 638px #FFF , 1003px 1584px #FFF , 1401px 1411px #FFF , 1464px 1044px #FFF , 1099px 1534px #FFF , 1218px 1288px #FFF , 11px 1417px #FFF , 1484px 1875px #FFF , 1838px 599px #FFF , 1500px 1503px #FFF , 1949px 361px #FFF , 1818px 888px #FFF , 445px 1466px #FFF , 1688px 1074px #FFF , 776px 1833px #FFF , 1580px 165px #FFF , 1005px 1212px #FFF , 219px 701px #FFF , 1467px 1828px #FFF , 1151px 62px #FFF , 99px 1078px #FFF , 6px 222px #FFF , 1647px 721px #FFF , 783px 1895px #FFF , 847px 655px #FFF , 1837px 608px #FFF , 1862px 1721px #FFF , 220px 1841px #FFF , 1878px 1337px #FFF , 1385px 955px #FFF , 1024px 1740px #FFF , 277px 727px #FFF , 1050px 1934px #FFF , 1304px 1737px #FFF , 570px 1348px #FFF , 566px 1041px #FFF , 955px 647px #FFF , 1468px 1px #FFF , 386px 975px #FFF , 337px 1251px #FFF , 411px 111px #FFF , 1095px 1534px #FFF , 106px 1495px #FFF , 1861px 494px #FFF , 945px 515px #FFF , 215px 559px #FFF , 418px 1975px #FFF , 1157px 1795px #FFF , 1627px 1944px #FFF , 1286px 1009px #FFF , 940px 422px #FFF , 551px 1882px #FFF , 1177px 167px #FFF , 1036px 1563px #FFF , 1709px 1761px #FFF , 1312px 1866px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
.g-snows {
  width: 100vw;
  height: 100vh;
  background-color: navy;
  background-image: linear-gradient(to bottom, rgb(68, 68, 230), darkgray);
}

.g-snows > li {
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  animation-name: snow-drop;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.g-snows > li:nth-child(1) {
  left: 82%;
  width: 20px;
  height: 20px;
  animation-duration: 8557ms;
  animation-delay: 355ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(2) {
  left: 100%;
  width: 8px;
  height: 8px;
  animation-duration: 8551ms;
  animation-delay: 4293ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(3) {
  left: 2%;
  width: 8px;
  height: 8px;
  animation-duration: 10404ms;
  animation-delay: 1770ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(4) {
  left: 70%;
  width: 10px;
  height: 10px;
  animation-duration: 9680ms;
  animation-delay: 1301ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(5) {
  left: 25%;
  width: 12px;
  height: 12px;
  animation-duration: 9961ms;
  animation-delay: 676ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(6) {
  left: 37%;
  width: 11px;
  height: 11px;
  animation-duration: 11543ms;
  animation-delay: 4274ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(7) {
  left: 9%;
  width: 1px;
  height: 1px;
  animation-duration: 7582ms;
  animation-delay: 550ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(8) {
  left: 56%;
  width: 17px;
  height: 17px;
  animation-duration: 10726ms;
  animation-delay: 1218ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(9) {
  left: 2%;
  width: 2px;
  height: 2px;
  animation-duration: 11827ms;
  animation-delay: 4000ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(10) {
  left: 3%;
  width: 17px;
  height: 17px;
  animation-duration: 8774ms;
  animation-delay: 1075ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(11) {
  left: 12%;
  width: 2px;
  height: 2px;
  animation-duration: 8635ms;
  animation-delay: 472ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(12) {
  left: 115%;
  width: 11px;
  height: 11px;
  animation-duration: 6933ms;
  animation-delay: 2238ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(13) {
  left: 70%;
  width: 11px;
  height: 11px;
  animation-duration: 11202ms;
  animation-delay: 334ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(14) {
  left: 34%;
  width: 5px;
  height: 5px;
  animation-duration: 6098ms;
  animation-delay: 3469ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(15) {
  left: 13%;
  width: 1px;
  height: 1px;
  animation-duration: 8762ms;
  animation-delay: 1289ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(16) {
  left: 39%;
  width: 9px;
  height: 9px;
  animation-duration: 5353ms;
  animation-delay: 2302ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(17) {
  left: 4%;
  width: 9px;
  height: 9px;
  animation-duration: 6357ms;
  animation-delay: 552ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(18) {
  left: 20%;
  width: 11px;
  height: 11px;
  animation-duration: 5981ms;
  animation-delay: 1142ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(19) {
  left: 75%;
  width: 3px;
  height: 3px;
  animation-duration: 6368ms;
  animation-delay: 2752ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(20) {
  left: 39%;
  width: 11px;
  height: 11px;
  animation-duration: 5543ms;
  animation-delay: 4244ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(21) {
  left: 67%;
  width: 7px;
  height: 7px;
  animation-duration: 8507ms;
  animation-delay: 2763ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(22) {
  left: 15%;
  width: 11px;
  height: 11px;
  animation-duration: 11285ms;
  animation-delay: 1113ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(23) {
  left: 37%;
  width: 3px;
  height: 3px;
  animation-duration: 11530ms;
  animation-delay: 4238ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(24) {
  left: 20%;
  width: 2px;
  height: 2px;
  animation-duration: 6404ms;
  animation-delay: 3221ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(25) {
  left: 57%;
  width: 14px;
  height: 14px;
  animation-duration: 7772ms;
  animation-delay: 4932ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(26) {
  left: 50%;
  width: 7px;
  height: 7px;
  animation-duration: 6635ms;
  animation-delay: 989ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(27) {
  left: 8%;
  width: 7px;
  height: 7px;
  animation-duration: 7187ms;
  animation-delay: 450ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(28) {
  left: 138%;
  width: 9px;
  height: 9px;
  animation-duration: 9332ms;
  animation-delay: 2023ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(29) {
  left: 47%;
  width: 17px;
  height: 17px;
  animation-duration: 7618ms;
  animation-delay: 2483ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(30) {
  left: 92%;
  width: 7px;
  height: 7px;
  animation-duration: 6178ms;
  animation-delay: 2610ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(31) {
  left: 51%;
  width: 13px;
  height: 13px;
  animation-duration: 7209ms;
  animation-delay: 1180ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(32) {
  left: 25%;
  width: 3px;
  height: 3px;
  animation-duration: 5961ms;
  animation-delay: 3460ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(33) {
  left: 80%;
  width: 6px;
  height: 6px;
  animation-duration: 8130ms;
  animation-delay: 2247ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(34) {
  left: 24%;
  width: 13px;
  height: 13px;
  animation-duration: 8312ms;
  animation-delay: 973ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(35) {
  left: 52%;
  width: 17px;
  height: 17px;
  animation-duration: 5305ms;
  animation-delay: 3296ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(36) {
  left: 57%;
  width: 6px;
  height: 6px;
  animation-duration: 6483ms;
  animation-delay: 1233ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(37) {
  left: 36%;
  width: 0px;
  height: 0px;
  animation-duration: 11685ms;
  animation-delay: 3514ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(38) {
  left: 105%;
  width: 4px;
  height: 4px;
  animation-duration: 6080ms;
  animation-delay: 1158ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(39) {
  left: 23%;
  width: 9px;
  height: 9px;
  animation-duration: 5602ms;
  animation-delay: 2376ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(40) {
  left: 34%;
  width: 7px;
  height: 7px;
  animation-duration: 5753ms;
  animation-delay: 1036ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(41) {
  left: 90%;
  width: 15px;
  height: 15px;
  animation-duration: 13575ms;
  animation-delay: 1459ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(42) {
  left: 68%;
  width: 7px;
  height: 7px;
  animation-duration: 7916ms;
  animation-delay: 4772ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(43) {
  left: 30%;
  width: 14px;
  height: 14px;
  animation-duration: 6259ms;
  animation-delay: 2246ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(44) {
  left: 42%;
  width: 8px;
  height: 8px;
  animation-duration: 5026ms;
  animation-delay: 4666ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(45) {
  left: 65%;
  width: 12px;
  height: 12px;
  animation-duration: 6659ms;
  animation-delay: 3714ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(46) {
  left: 33%;
  width: 3px;
  height: 3px;
  animation-duration: 12477ms;
  animation-delay: 4777ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(47) {
  left: 7%;
  width: 13px;
  height: 13px;
  animation-duration: 7020ms;
  animation-delay: 4032ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(48) {
  left: 59%;
  width: 10px;
  height: 10px;
  animation-duration: 5111ms;
  animation-delay: 2587ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(49) {
  left: 98%;
  width: 15px;
  height: 15px;
  animation-duration: 8067ms;
  animation-delay: 1015ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(50) {
  left: 26%;
  width: 6px;
  height: 6px;
  animation-duration: 7564ms;
  animation-delay: 4237ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(51) {
  left: 87%;
  width: 18px;
  height: 18px;
  animation-duration: 12202ms;
  animation-delay: 3324ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(52) {
  left: 91%;
  width: 24px;
  height: 24px;
  animation-duration: 11042ms;
  animation-delay: 2708ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(53) {
  left: 42%;
  width: 2px;
  height: 2px;
  animation-duration: 9650ms;
  animation-delay: 872ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(54) {
  left: 38%;
  width: 1px;
  height: 1px;
  animation-duration: 8880ms;
  animation-delay: 979ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(55) {
  left: 114%;
  width: 5px;
  height: 5px;
  animation-duration: 9182ms;
  animation-delay: 884ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(56) {
  left: 39%;
  width: 4px;
  height: 4px;
  animation-duration: 7792ms;
  animation-delay: 2074ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(57) {
  left: 65%;
  width: 16px;
  height: 16px;
  animation-duration: 6005ms;
  animation-delay: 3459ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(58) {
  left: 3%;
  width: 12px;
  height: 12px;
  animation-duration: 9358ms;
  animation-delay: 3992ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(59) {
  left: 55%;
  width: 6px;
  height: 6px;
  animation-duration: 9668ms;
  animation-delay: 773ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(60) {
  left: 75%;
  width: 1px;
  height: 1px;
  animation-duration: 9850ms;
  animation-delay: 4455ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(61) {
  left: 75%;
  width: 5px;
  height: 5px;
  animation-duration: 7654ms;
  animation-delay: 3766ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(62) {
  left: 17%;
  width: 17px;
  height: 17px;
  animation-duration: 10186ms;
  animation-delay: 4722ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(63) {
  left: 81%;
  width: 17px;
  height: 17px;
  animation-duration: 9434ms;
  animation-delay: 4328ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(64) {
  left: 46%;
  width: 1px;
  height: 1px;
  animation-duration: 5587ms;
  animation-delay: 2104ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(65) {
  left: 92%;
  width: 11px;
  height: 11px;
  animation-duration: 9024ms;
  animation-delay: 4115ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(66) {
  left: 80%;
  width: 2px;
  height: 2px;
  animation-duration: 12541ms;
  animation-delay: 4392ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(67) {
  left: 84%;
  width: 25px;
  height: 25px;
  animation-duration: 11004ms;
  animation-delay: 4803ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(68) {
  left: 74%;
  width: 6px;
  height: 6px;
  animation-duration: 12909ms;
  animation-delay: 3787ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(69) {
  left: 53%;
  width: 2px;
  height: 2px;
  animation-duration: 8928ms;
  animation-delay: 1207ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(70) {
  left: 113%;
  width: 17px;
  height: 17px;
  animation-duration: 10478ms;
  animation-delay: 2424ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(71) {
  left: 126%;
  width: 3px;
  height: 3px;
  animation-duration: 12784ms;
  animation-delay: 1130ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(72) {
  left: 51%;
  width: 6px;
  height: 6px;
  animation-duration: 5169ms;
  animation-delay: 4070ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(73) {
  left: 80%;
  width: 9px;
  height: 9px;
  animation-duration: 6635ms;
  animation-delay: 2511ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(74) {
  left: 39%;
  width: 9px;
  height: 9px;
  animation-duration: 7747ms;
  animation-delay: 3633ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(75) {
  left: 56%;
  width: 14px;
  height: 14px;
  animation-duration: 11698ms;
  animation-delay: 693ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(76) {
  left: 56%;
  width: 13px;
  height: 13px;
  animation-duration: 5409ms;
  animation-delay: 4034ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(77) {
  left: 6%;
  width: 9px;
  height: 9px;
  animation-duration: 9202ms;
  animation-delay: 2430ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(78) {
  left: 18%;
  width: 4px;
  height: 4px;
  animation-duration: 6621ms;
  animation-delay: 4654ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(79) {
  left: 102%;
  width: 9px;
  height: 9px;
  animation-duration: 7627ms;
  animation-delay: 139ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(80) {
  left: 122%;
  width: 24px;
  height: 24px;
  animation-duration: 6552ms;
  animation-delay: 3392ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(81) {
  left: 13%;
  width: 1px;
  height: 1px;
  animation-duration: 8865ms;
  animation-delay: 3073ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(82) {
  left: 90%;
  width: 15px;
  height: 15px;
  animation-duration: 9147ms;
  animation-delay: 4919ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(83) {
  left: 126%;
  width: 11px;
  height: 11px;
  animation-duration: 11739ms;
  animation-delay: 4586ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(84) {
  left: 6%;
  width: 7px;
  height: 7px;
  animation-duration: 8856ms;
  animation-delay: 1946ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(85) {
  left: 44%;
  width: 1px;
  height: 1px;
  animation-duration: 9277ms;
  animation-delay: 2126ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(86) {
  left: 87%;
  width: 16px;
  height: 16px;
  animation-duration: 6007ms;
  animation-delay: 3275ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(87) {
  left: 84%;
  width: 12px;
  height: 12px;
  animation-duration: 8907ms;
  animation-delay: 2064ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(88) {
  left: 14%;
  width: 0px;
  height: 0px;
  animation-duration: 5756ms;
  animation-delay: 3931ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(89) {
  left: 27%;
  width: 0px;
  height: 0px;
  animation-duration: 9427ms;
  animation-delay: 945ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(90) {
  left: 127%;
  width: 8px;
  height: 8px;
  animation-duration: 13442ms;
  animation-delay: 145ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(91) {
  left: 8%;
  width: 2px;
  height: 2px;
  animation-duration: 5501ms;
  animation-delay: 4972ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(92) {
  left: 1%;
  width: 6px;
  height: 6px;
  animation-duration: 12867ms;
  animation-delay: 532ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(93) {
  left: 106%;
  width: 2px;
  height: 2px;
  animation-duration: 9671ms;
  animation-delay: 1153ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(94) {
  left: 122%;
  width: 1px;
  height: 1px;
  animation-duration: 11165ms;
  animation-delay: 2169ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(95) {
  left: 60%;
  width: 12px;
  height: 12px;
  animation-duration: 12097ms;
  animation-delay: 4605ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(96) {
  left: 2%;
  width: 21px;
  height: 21px;
  animation-duration: 9985ms;
  animation-delay: 2970ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(97) {
  left: 47%;
  width: 16px;
  height: 16px;
  animation-duration: 6742ms;
  animation-delay: 4763ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(98) {
  left: 54%;
  width: 21px;
  height: 21px;
  animation-duration: 8314ms;
  animation-delay: 3689ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(99) {
  left: 35%;
  width: 25px;
  height: 25px;
  animation-duration: 7522ms;
  animation-delay: 2993ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(100) {
  left: 63%;
  width: 10px;
  height: 10px;
  animation-duration: 9919ms;
  animation-delay: 1657ms;
  filter: blur(1px);
}

@keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.16;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.15;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 0.3;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.46;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}/*# sourceMappingURL=DarkLightMode.css.map */