.snow-bg {
  overflow: hidden;
}

.g-snows {
  width: 100vw;
  height: 100vh;
  background-color: navy;
  background-image: linear-gradient(to bottom, rgb(68, 68, 230), darkgray);
}

.g-snows > li {
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-animation-name: snow-drop;
          animation-name: snow-drop;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.g-snows > li:nth-child(1) {
  left: 18%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 5290ms;
          animation-duration: 5290ms;
  -webkit-animation-delay: 2670ms;
          animation-delay: 2670ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(2) {
  left: 81%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 5757ms;
          animation-duration: 5757ms;
  -webkit-animation-delay: 1103ms;
          animation-delay: 1103ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(3) {
  left: 25%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 6203ms;
          animation-duration: 6203ms;
  -webkit-animation-delay: 297ms;
          animation-delay: 297ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(4) {
  left: 85%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 8301ms;
          animation-duration: 8301ms;
  -webkit-animation-delay: 1037ms;
          animation-delay: 1037ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(5) {
  left: 22%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 5167ms;
          animation-duration: 5167ms;
  -webkit-animation-delay: 1686ms;
          animation-delay: 1686ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(6) {
  left: 36%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 5680ms;
          animation-duration: 5680ms;
  -webkit-animation-delay: 1539ms;
          animation-delay: 1539ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(7) {
  left: 35%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 6231ms;
          animation-duration: 6231ms;
  -webkit-animation-delay: 2696ms;
          animation-delay: 2696ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(8) {
  left: 102%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 13135ms;
          animation-duration: 13135ms;
  -webkit-animation-delay: 3950ms;
          animation-delay: 3950ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(9) {
  left: 96%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 12321ms;
          animation-duration: 12321ms;
  -webkit-animation-delay: 3491ms;
          animation-delay: 3491ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(10) {
  left: 104%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 8438ms;
          animation-duration: 8438ms;
  -webkit-animation-delay: 619ms;
          animation-delay: 619ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(11) {
  left: 21%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 8353ms;
          animation-duration: 8353ms;
  -webkit-animation-delay: 1085ms;
          animation-delay: 1085ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(12) {
  left: 33%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 10920ms;
          animation-duration: 10920ms;
  -webkit-animation-delay: 3224ms;
          animation-delay: 3224ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(13) {
  left: 5%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 11752ms;
          animation-duration: 11752ms;
  -webkit-animation-delay: 2320ms;
          animation-delay: 2320ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(14) {
  left: 19%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 7460ms;
          animation-duration: 7460ms;
  -webkit-animation-delay: 2221ms;
          animation-delay: 2221ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(15) {
  left: 21%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 5584ms;
          animation-duration: 5584ms;
  -webkit-animation-delay: 2242ms;
          animation-delay: 2242ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(16) {
  left: 80%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5507ms;
          animation-duration: 5507ms;
  -webkit-animation-delay: 3372ms;
          animation-delay: 3372ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(17) {
  left: 46%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 5182ms;
          animation-duration: 5182ms;
  -webkit-animation-delay: 2263ms;
          animation-delay: 2263ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(18) {
  left: 9%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 6297ms;
          animation-duration: 6297ms;
  -webkit-animation-delay: 372ms;
          animation-delay: 372ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(19) {
  left: 12%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 7881ms;
          animation-duration: 7881ms;
  -webkit-animation-delay: 3944ms;
          animation-delay: 3944ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(20) {
  left: 84%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 6327ms;
          animation-duration: 6327ms;
  -webkit-animation-delay: 994ms;
          animation-delay: 994ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(21) {
  left: 53%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 12313ms;
          animation-duration: 12313ms;
  -webkit-animation-delay: 4657ms;
          animation-delay: 4657ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(22) {
  left: 35%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 11427ms;
          animation-duration: 11427ms;
  -webkit-animation-delay: 2168ms;
          animation-delay: 2168ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(23) {
  left: 70%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 6479ms;
          animation-duration: 6479ms;
  -webkit-animation-delay: 1145ms;
          animation-delay: 1145ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(24) {
  left: 55%;
  width: 27px;
  height: 27px;
  -webkit-animation-duration: 7112ms;
          animation-duration: 7112ms;
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(25) {
  left: 107%;
  width: 24px;
  height: 24px;
  -webkit-animation-duration: 5407ms;
          animation-duration: 5407ms;
  -webkit-animation-delay: 2093ms;
          animation-delay: 2093ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(26) {
  left: 137%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5482ms;
          animation-duration: 5482ms;
  -webkit-animation-delay: 3990ms;
          animation-delay: 3990ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(27) {
  left: 109%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 9955ms;
          animation-duration: 9955ms;
  -webkit-animation-delay: 1885ms;
          animation-delay: 1885ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(28) {
  left: 99%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 6151ms;
          animation-duration: 6151ms;
  -webkit-animation-delay: 4807ms;
          animation-delay: 4807ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(29) {
  left: 116%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 7918ms;
          animation-duration: 7918ms;
  -webkit-animation-delay: 165ms;
          animation-delay: 165ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(30) {
  left: 77%;
  width: 23px;
  height: 23px;
  -webkit-animation-duration: 11956ms;
          animation-duration: 11956ms;
  -webkit-animation-delay: 1268ms;
          animation-delay: 1268ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(31) {
  left: 24%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 5150ms;
          animation-duration: 5150ms;
  -webkit-animation-delay: 4666ms;
          animation-delay: 4666ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(32) {
  left: 39%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 8175ms;
          animation-duration: 8175ms;
  -webkit-animation-delay: 2672ms;
          animation-delay: 2672ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(33) {
  left: 21%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 8471ms;
          animation-duration: 8471ms;
  -webkit-animation-delay: 3789ms;
          animation-delay: 3789ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(34) {
  left: 31%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 9961ms;
          animation-duration: 9961ms;
  -webkit-animation-delay: 132ms;
          animation-delay: 132ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(35) {
  left: 129%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 12915ms;
          animation-duration: 12915ms;
  -webkit-animation-delay: 4290ms;
          animation-delay: 4290ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(36) {
  left: 7%;
  width: 23px;
  height: 23px;
  -webkit-animation-duration: 5259ms;
          animation-duration: 5259ms;
  -webkit-animation-delay: 1573ms;
          animation-delay: 1573ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(37) {
  left: 59%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 5604ms;
          animation-duration: 5604ms;
  -webkit-animation-delay: 3503ms;
          animation-delay: 3503ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(38) {
  left: 51%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 10178ms;
          animation-duration: 10178ms;
  -webkit-animation-delay: 2524ms;
          animation-delay: 2524ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(39) {
  left: 89%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 8575ms;
          animation-duration: 8575ms;
  -webkit-animation-delay: 391ms;
          animation-delay: 391ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(40) {
  left: 56%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 6725ms;
          animation-duration: 6725ms;
  -webkit-animation-delay: 1327ms;
          animation-delay: 1327ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(41) {
  left: 45%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 7407ms;
          animation-duration: 7407ms;
  -webkit-animation-delay: 884ms;
          animation-delay: 884ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(42) {
  left: 9%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 8705ms;
          animation-duration: 8705ms;
  -webkit-animation-delay: 4452ms;
          animation-delay: 4452ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(43) {
  left: 33%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 7212ms;
          animation-duration: 7212ms;
  -webkit-animation-delay: 2475ms;
          animation-delay: 2475ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(44) {
  left: 110%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 11929ms;
          animation-duration: 11929ms;
  -webkit-animation-delay: 2383ms;
          animation-delay: 2383ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(45) {
  left: 2%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 5557ms;
          animation-duration: 5557ms;
  -webkit-animation-delay: 180ms;
          animation-delay: 180ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(46) {
  left: 118%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 12625ms;
          animation-duration: 12625ms;
  -webkit-animation-delay: 4305ms;
          animation-delay: 4305ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(47) {
  left: 83%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 12275ms;
          animation-duration: 12275ms;
  -webkit-animation-delay: 3890ms;
          animation-delay: 3890ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(48) {
  left: 45%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8448ms;
          animation-duration: 8448ms;
  -webkit-animation-delay: 155ms;
          animation-delay: 155ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(49) {
  left: 62%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 10576ms;
          animation-duration: 10576ms;
  -webkit-animation-delay: 3216ms;
          animation-delay: 3216ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(50) {
  left: 10%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 7595ms;
          animation-duration: 7595ms;
  -webkit-animation-delay: 4590ms;
          animation-delay: 4590ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(51) {
  left: 16%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 5661ms;
          animation-duration: 5661ms;
  -webkit-animation-delay: 1063ms;
          animation-delay: 1063ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(52) {
  left: 139%;
  width: 24px;
  height: 24px;
  -webkit-animation-duration: 7510ms;
          animation-duration: 7510ms;
  -webkit-animation-delay: 4407ms;
          animation-delay: 4407ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(53) {
  left: 62%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6219ms;
          animation-duration: 6219ms;
  -webkit-animation-delay: 2307ms;
          animation-delay: 2307ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(54) {
  left: 24%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 9465ms;
          animation-duration: 9465ms;
  -webkit-animation-delay: 778ms;
          animation-delay: 778ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(55) {
  left: 51%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 7576ms;
          animation-duration: 7576ms;
  -webkit-animation-delay: 4515ms;
          animation-delay: 4515ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(56) {
  left: 1%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 9144ms;
          animation-duration: 9144ms;
  -webkit-animation-delay: 4709ms;
          animation-delay: 4709ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(57) {
  left: 22%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 8131ms;
          animation-duration: 8131ms;
  -webkit-animation-delay: 233ms;
          animation-delay: 233ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(58) {
  left: 69%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 12233ms;
          animation-duration: 12233ms;
  -webkit-animation-delay: 1977ms;
          animation-delay: 1977ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(59) {
  left: 31%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 8539ms;
          animation-duration: 8539ms;
  -webkit-animation-delay: 4888ms;
          animation-delay: 4888ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(60) {
  left: 63%;
  width: 24px;
  height: 24px;
  -webkit-animation-duration: 8292ms;
          animation-duration: 8292ms;
  -webkit-animation-delay: 3022ms;
          animation-delay: 3022ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(61) {
  left: 9%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 6602ms;
          animation-duration: 6602ms;
  -webkit-animation-delay: 510ms;
          animation-delay: 510ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(62) {
  left: 114%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 8620ms;
          animation-duration: 8620ms;
  -webkit-animation-delay: 556ms;
          animation-delay: 556ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(63) {
  left: 2%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 11091ms;
          animation-duration: 11091ms;
  -webkit-animation-delay: 3528ms;
          animation-delay: 3528ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(64) {
  left: 70%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 10913ms;
          animation-duration: 10913ms;
  -webkit-animation-delay: 688ms;
          animation-delay: 688ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(65) {
  left: 83%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 5905ms;
          animation-duration: 5905ms;
  -webkit-animation-delay: 4967ms;
          animation-delay: 4967ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(66) {
  left: 33%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 12918ms;
          animation-duration: 12918ms;
  -webkit-animation-delay: 2159ms;
          animation-delay: 2159ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(67) {
  left: 93%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 5082ms;
          animation-duration: 5082ms;
  -webkit-animation-delay: 4291ms;
          animation-delay: 4291ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(68) {
  left: 26%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 8791ms;
          animation-duration: 8791ms;
  -webkit-animation-delay: 4495ms;
          animation-delay: 4495ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(69) {
  left: 20%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 5051ms;
          animation-duration: 5051ms;
  -webkit-animation-delay: 4070ms;
          animation-delay: 4070ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(70) {
  left: 76%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 5508ms;
          animation-duration: 5508ms;
  -webkit-animation-delay: 4985ms;
          animation-delay: 4985ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(71) {
  left: 15%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 12338ms;
          animation-duration: 12338ms;
  -webkit-animation-delay: 4292ms;
          animation-delay: 4292ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(72) {
  left: 109%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6491ms;
          animation-duration: 6491ms;
  -webkit-animation-delay: 3795ms;
          animation-delay: 3795ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(73) {
  left: 103%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 6654ms;
          animation-duration: 6654ms;
  -webkit-animation-delay: 4120ms;
          animation-delay: 4120ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(74) {
  left: 48%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 5197ms;
          animation-duration: 5197ms;
  -webkit-animation-delay: 2549ms;
          animation-delay: 2549ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(75) {
  left: 25%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 10203ms;
          animation-duration: 10203ms;
  -webkit-animation-delay: 2726ms;
          animation-delay: 2726ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(76) {
  left: 0%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 7176ms;
          animation-duration: 7176ms;
  -webkit-animation-delay: 1019ms;
          animation-delay: 1019ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(77) {
  left: 47%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 5542ms;
          animation-duration: 5542ms;
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(78) {
  left: 39%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 9563ms;
          animation-duration: 9563ms;
  -webkit-animation-delay: 1226ms;
          animation-delay: 1226ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(79) {
  left: 80%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 8730ms;
          animation-duration: 8730ms;
  -webkit-animation-delay: 4309ms;
          animation-delay: 4309ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(80) {
  left: 31%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5168ms;
          animation-duration: 5168ms;
  -webkit-animation-delay: 4665ms;
          animation-delay: 4665ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(81) {
  left: 3%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 7125ms;
          animation-duration: 7125ms;
  -webkit-animation-delay: 161ms;
          animation-delay: 161ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(82) {
  left: 88%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 6999ms;
          animation-duration: 6999ms;
  -webkit-animation-delay: 848ms;
          animation-delay: 848ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(83) {
  left: 10%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 5052ms;
          animation-duration: 5052ms;
  -webkit-animation-delay: 4218ms;
          animation-delay: 4218ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(84) {
  left: 56%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 10529ms;
          animation-duration: 10529ms;
  -webkit-animation-delay: 4767ms;
          animation-delay: 4767ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(85) {
  left: 14%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 8222ms;
          animation-duration: 8222ms;
  -webkit-animation-delay: 2950ms;
          animation-delay: 2950ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(86) {
  left: 0%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 14432ms;
          animation-duration: 14432ms;
  -webkit-animation-delay: 142ms;
          animation-delay: 142ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(87) {
  left: 24%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 13993ms;
          animation-duration: 13993ms;
  -webkit-animation-delay: 2404ms;
          animation-delay: 2404ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(88) {
  left: 31%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 6450ms;
          animation-duration: 6450ms;
  -webkit-animation-delay: 2892ms;
          animation-delay: 2892ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(89) {
  left: 18%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 13944ms;
          animation-duration: 13944ms;
  -webkit-animation-delay: 4970ms;
          animation-delay: 4970ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(90) {
  left: 3%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 9335ms;
          animation-duration: 9335ms;
  -webkit-animation-delay: 2718ms;
          animation-delay: 2718ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(91) {
  left: 10%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 10060ms;
          animation-duration: 10060ms;
  -webkit-animation-delay: 4584ms;
          animation-delay: 4584ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(92) {
  left: 64%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 10540ms;
          animation-duration: 10540ms;
  -webkit-animation-delay: 2389ms;
          animation-delay: 2389ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(93) {
  left: 85%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 9472ms;
          animation-duration: 9472ms;
  -webkit-animation-delay: 3054ms;
          animation-delay: 3054ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(94) {
  left: 83%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 11402ms;
          animation-duration: 11402ms;
  -webkit-animation-delay: 1156ms;
          animation-delay: 1156ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(95) {
  left: 53%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 6667ms;
          animation-duration: 6667ms;
  -webkit-animation-delay: 2407ms;
          animation-delay: 2407ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(96) {
  left: 5%;
  width: 12px;
  height: 12px;
  -webkit-animation-duration: 9912ms;
          animation-duration: 9912ms;
  -webkit-animation-delay: 303ms;
          animation-delay: 303ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(97) {
  left: 133%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 8378ms;
          animation-duration: 8378ms;
  -webkit-animation-delay: 2318ms;
          animation-delay: 2318ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(98) {
  left: 53%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 9578ms;
          animation-duration: 9578ms;
  -webkit-animation-delay: 4100ms;
          animation-delay: 4100ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(99) {
  left: 12%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 11036ms;
          animation-duration: 11036ms;
  -webkit-animation-delay: 1391ms;
          animation-delay: 1391ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(100) {
  left: 19%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 8349ms;
          animation-duration: 8349ms;
  -webkit-animation-delay: 3887ms;
          animation-delay: 3887ms;
  filter: blur(0px);
}

@-webkit-keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}/*# sourceMappingURL=light-theme-background.css.map */