.snow-bg {
  overflow: hidden;
}

.g-snows {
  width: 100vw;
  height: 100vh;
  background-color: navy;
  background-image: linear-gradient(to bottom, rgb(68, 68, 230), darkgray);
}

.g-snows > li {
  opacity: 0;
  position: absolute;
  top: 0;
  border-radius: 100%;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 100% auto;
  -webkit-animation-name: snow-drop;
          animation-name: snow-drop;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.g-snows > li:nth-child(1) {
  left: 72%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 8403ms;
          animation-duration: 8403ms;
  -webkit-animation-delay: 1261ms;
          animation-delay: 1261ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(2) {
  left: 101%;
  width: 15px;
  height: 15px;
  -webkit-animation-duration: 6645ms;
          animation-duration: 6645ms;
  -webkit-animation-delay: 1744ms;
          animation-delay: 1744ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(3) {
  left: 7%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 5533ms;
          animation-duration: 5533ms;
  -webkit-animation-delay: 4715ms;
          animation-delay: 4715ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(4) {
  left: 23%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 9511ms;
          animation-duration: 9511ms;
  -webkit-animation-delay: 2842ms;
          animation-delay: 2842ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(5) {
  left: 66%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 7735ms;
          animation-duration: 7735ms;
  -webkit-animation-delay: 494ms;
          animation-delay: 494ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(6) {
  left: 63%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 8515ms;
          animation-duration: 8515ms;
  -webkit-animation-delay: 1753ms;
          animation-delay: 1753ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(7) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 5674ms;
          animation-duration: 5674ms;
  -webkit-animation-delay: 4889ms;
          animation-delay: 4889ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(8) {
  left: 106%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 9961ms;
          animation-duration: 9961ms;
  -webkit-animation-delay: 4929ms;
          animation-delay: 4929ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(9) {
  left: 37%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 8704ms;
          animation-duration: 8704ms;
  -webkit-animation-delay: 4597ms;
          animation-delay: 4597ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(10) {
  left: 121%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 5557ms;
          animation-duration: 5557ms;
  -webkit-animation-delay: 2527ms;
          animation-delay: 2527ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(11) {
  left: 74%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 6387ms;
          animation-duration: 6387ms;
  -webkit-animation-delay: 12ms;
          animation-delay: 12ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(12) {
  left: 10%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 7008ms;
          animation-duration: 7008ms;
  -webkit-animation-delay: 4260ms;
          animation-delay: 4260ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(13) {
  left: 104%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 11167ms;
          animation-duration: 11167ms;
  -webkit-animation-delay: 2905ms;
          animation-delay: 2905ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(14) {
  left: 35%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 9144ms;
          animation-duration: 9144ms;
  -webkit-animation-delay: 3543ms;
          animation-delay: 3543ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(15) {
  left: 27%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 7587ms;
          animation-duration: 7587ms;
  -webkit-animation-delay: 4547ms;
          animation-delay: 4547ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(16) {
  left: 33%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 9445ms;
          animation-duration: 9445ms;
  -webkit-animation-delay: 177ms;
          animation-delay: 177ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(17) {
  left: 21%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 5759ms;
          animation-duration: 5759ms;
  -webkit-animation-delay: 3960ms;
          animation-delay: 3960ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(18) {
  left: 125%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 10074ms;
          animation-duration: 10074ms;
  -webkit-animation-delay: 4504ms;
          animation-delay: 4504ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(19) {
  left: 42%;
  width: 23px;
  height: 23px;
  -webkit-animation-duration: 5241ms;
          animation-duration: 5241ms;
  -webkit-animation-delay: 4980ms;
          animation-delay: 4980ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(20) {
  left: 136%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 5151ms;
          animation-duration: 5151ms;
  -webkit-animation-delay: 1609ms;
          animation-delay: 1609ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(21) {
  left: 16%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 6751ms;
          animation-duration: 6751ms;
  -webkit-animation-delay: 3640ms;
          animation-delay: 3640ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(22) {
  left: 137%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 10763ms;
          animation-duration: 10763ms;
  -webkit-animation-delay: 1432ms;
          animation-delay: 1432ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(23) {
  left: 6%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 9323ms;
          animation-duration: 9323ms;
  -webkit-animation-delay: 3143ms;
          animation-delay: 3143ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(24) {
  left: 54%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 6278ms;
          animation-duration: 6278ms;
  -webkit-animation-delay: 4486ms;
          animation-delay: 4486ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(25) {
  left: 82%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 9851ms;
          animation-duration: 9851ms;
  -webkit-animation-delay: 972ms;
          animation-delay: 972ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(26) {
  left: 104%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 7152ms;
          animation-duration: 7152ms;
  -webkit-animation-delay: 3453ms;
          animation-delay: 3453ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(27) {
  left: 82%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 5374ms;
          animation-duration: 5374ms;
  -webkit-animation-delay: 2674ms;
          animation-delay: 2674ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(28) {
  left: 29%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 8684ms;
          animation-duration: 8684ms;
  -webkit-animation-delay: 3019ms;
          animation-delay: 3019ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(29) {
  left: 58%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 14516ms;
          animation-duration: 14516ms;
  -webkit-animation-delay: 2354ms;
          animation-delay: 2354ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(30) {
  left: 52%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 6805ms;
          animation-duration: 6805ms;
  -webkit-animation-delay: 2230ms;
          animation-delay: 2230ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(31) {
  left: 11%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 12611ms;
          animation-duration: 12611ms;
  -webkit-animation-delay: 1434ms;
          animation-delay: 1434ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(32) {
  left: 17%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 5263ms;
          animation-duration: 5263ms;
  -webkit-animation-delay: 1964ms;
          animation-delay: 1964ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(33) {
  left: 47%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 9299ms;
          animation-duration: 9299ms;
  -webkit-animation-delay: 2755ms;
          animation-delay: 2755ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(34) {
  left: 77%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 7345ms;
          animation-duration: 7345ms;
  -webkit-animation-delay: 3279ms;
          animation-delay: 3279ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(35) {
  left: 54%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 5019ms;
          animation-duration: 5019ms;
  -webkit-animation-delay: 4755ms;
          animation-delay: 4755ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(36) {
  left: 30%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 9896ms;
          animation-duration: 9896ms;
  -webkit-animation-delay: 1001ms;
          animation-delay: 1001ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(37) {
  left: 34%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 6394ms;
          animation-duration: 6394ms;
  -webkit-animation-delay: 1814ms;
          animation-delay: 1814ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(38) {
  left: 71%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 8922ms;
          animation-duration: 8922ms;
  -webkit-animation-delay: 1806ms;
          animation-delay: 1806ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(39) {
  left: 144%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 11035ms;
          animation-duration: 11035ms;
  -webkit-animation-delay: 18ms;
          animation-delay: 18ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(40) {
  left: 49%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 9236ms;
          animation-duration: 9236ms;
  -webkit-animation-delay: 1942ms;
          animation-delay: 1942ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(41) {
  left: 6%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 6894ms;
          animation-duration: 6894ms;
  -webkit-animation-delay: 4961ms;
          animation-delay: 4961ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(42) {
  left: 33%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 5768ms;
          animation-duration: 5768ms;
  -webkit-animation-delay: 2836ms;
          animation-delay: 2836ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(43) {
  left: 77%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 8836ms;
          animation-duration: 8836ms;
  -webkit-animation-delay: 4736ms;
          animation-delay: 4736ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(44) {
  left: 14%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 7200ms;
          animation-duration: 7200ms;
  -webkit-animation-delay: 1882ms;
          animation-delay: 1882ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(45) {
  left: 28%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 6827ms;
          animation-duration: 6827ms;
  -webkit-animation-delay: 4178ms;
          animation-delay: 4178ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(46) {
  left: 29%;
  width: 3px;
  height: 3px;
  -webkit-animation-duration: 8962ms;
          animation-duration: 8962ms;
  -webkit-animation-delay: 2524ms;
          animation-delay: 2524ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(47) {
  left: 68%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 5016ms;
          animation-duration: 5016ms;
  -webkit-animation-delay: 851ms;
          animation-delay: 851ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(48) {
  left: 17%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5168ms;
          animation-duration: 5168ms;
  -webkit-animation-delay: 2258ms;
          animation-delay: 2258ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(49) {
  left: 23%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 6337ms;
          animation-duration: 6337ms;
  -webkit-animation-delay: 221ms;
          animation-delay: 221ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(50) {
  left: 49%;
  width: 23px;
  height: 23px;
  -webkit-animation-duration: 6814ms;
          animation-duration: 6814ms;
  -webkit-animation-delay: 4155ms;
          animation-delay: 4155ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(51) {
  left: 67%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 5994ms;
          animation-duration: 5994ms;
  -webkit-animation-delay: 3456ms;
          animation-delay: 3456ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(52) {
  left: 98%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 11933ms;
          animation-duration: 11933ms;
  -webkit-animation-delay: 2252ms;
          animation-delay: 2252ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(53) {
  left: 51%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 7654ms;
          animation-duration: 7654ms;
  -webkit-animation-delay: 4314ms;
          animation-delay: 4314ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(54) {
  left: 15%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 5644ms;
          animation-duration: 5644ms;
  -webkit-animation-delay: 4493ms;
          animation-delay: 4493ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(55) {
  left: 79%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 7866ms;
          animation-duration: 7866ms;
  -webkit-animation-delay: 4349ms;
          animation-delay: 4349ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(56) {
  left: 53%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 9386ms;
          animation-duration: 9386ms;
  -webkit-animation-delay: 4020ms;
          animation-delay: 4020ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(57) {
  left: 50%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 10903ms;
          animation-duration: 10903ms;
  -webkit-animation-delay: 1102ms;
          animation-delay: 1102ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(58) {
  left: 2%;
  width: 6px;
  height: 6px;
  -webkit-animation-duration: 5374ms;
          animation-duration: 5374ms;
  -webkit-animation-delay: 2135ms;
          animation-delay: 2135ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(59) {
  left: 47%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 11128ms;
          animation-duration: 11128ms;
  -webkit-animation-delay: 384ms;
          animation-delay: 384ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(60) {
  left: 17%;
  width: 8px;
  height: 8px;
  -webkit-animation-duration: 5838ms;
          animation-duration: 5838ms;
  -webkit-animation-delay: 1524ms;
          animation-delay: 1524ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(61) {
  left: 144%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 11265ms;
          animation-duration: 11265ms;
  -webkit-animation-delay: 41ms;
          animation-delay: 41ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(62) {
  left: 105%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 6758ms;
          animation-duration: 6758ms;
  -webkit-animation-delay: 4749ms;
          animation-delay: 4749ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(63) {
  left: 11%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 11040ms;
          animation-duration: 11040ms;
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(64) {
  left: 16%;
  width: 21px;
  height: 21px;
  -webkit-animation-duration: 6761ms;
          animation-duration: 6761ms;
  -webkit-animation-delay: 2461ms;
          animation-delay: 2461ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(65) {
  left: 72%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 10567ms;
          animation-duration: 10567ms;
  -webkit-animation-delay: 4291ms;
          animation-delay: 4291ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(66) {
  left: 37%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 8500ms;
          animation-duration: 8500ms;
  -webkit-animation-delay: 1936ms;
          animation-delay: 1936ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(67) {
  left: 51%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 8674ms;
          animation-duration: 8674ms;
  -webkit-animation-delay: 2029ms;
          animation-delay: 2029ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(68) {
  left: 123%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 6109ms;
          animation-duration: 6109ms;
  -webkit-animation-delay: 3734ms;
          animation-delay: 3734ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(69) {
  left: 47%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 6385ms;
          animation-duration: 6385ms;
  -webkit-animation-delay: 3604ms;
          animation-delay: 3604ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(70) {
  left: 62%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 6371ms;
          animation-duration: 6371ms;
  -webkit-animation-delay: 3317ms;
          animation-delay: 3317ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(71) {
  left: 7%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 9004ms;
          animation-duration: 9004ms;
  -webkit-animation-delay: 397ms;
          animation-delay: 397ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(72) {
  left: 7%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5052ms;
          animation-duration: 5052ms;
  -webkit-animation-delay: 1072ms;
          animation-delay: 1072ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(73) {
  left: 145%;
  width: 17px;
  height: 17px;
  -webkit-animation-duration: 10691ms;
          animation-duration: 10691ms;
  -webkit-animation-delay: 3335ms;
          animation-delay: 3335ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(74) {
  left: 78%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 8959ms;
          animation-duration: 8959ms;
  -webkit-animation-delay: 4300ms;
          animation-delay: 4300ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(75) {
  left: 68%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 6308ms;
          animation-duration: 6308ms;
  -webkit-animation-delay: 4258ms;
          animation-delay: 4258ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(76) {
  left: 19%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 6285ms;
          animation-duration: 6285ms;
  -webkit-animation-delay: 3970ms;
          animation-delay: 3970ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(77) {
  left: 15%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 9269ms;
          animation-duration: 9269ms;
  -webkit-animation-delay: 3796ms;
          animation-delay: 3796ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(78) {
  left: 2%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 9455ms;
          animation-duration: 9455ms;
  -webkit-animation-delay: 1886ms;
          animation-delay: 1886ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(79) {
  left: 128%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 14573ms;
          animation-duration: 14573ms;
  -webkit-animation-delay: 4049ms;
          animation-delay: 4049ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(80) {
  left: 137%;
  width: 10px;
  height: 10px;
  -webkit-animation-duration: 11448ms;
          animation-duration: 11448ms;
  -webkit-animation-delay: 4352ms;
          animation-delay: 4352ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(81) {
  left: 76%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 6908ms;
          animation-duration: 6908ms;
  -webkit-animation-delay: 4514ms;
          animation-delay: 4514ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(82) {
  left: 41%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 7962ms;
          animation-duration: 7962ms;
  -webkit-animation-delay: 1540ms;
          animation-delay: 1540ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(83) {
  left: 27%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 7752ms;
          animation-duration: 7752ms;
  -webkit-animation-delay: 1638ms;
          animation-delay: 1638ms;
  filter: blur(4px);
}
.g-snows > li:nth-child(84) {
  left: 69%;
  width: 13px;
  height: 13px;
  -webkit-animation-duration: 6921ms;
          animation-duration: 6921ms;
  -webkit-animation-delay: 1997ms;
          animation-delay: 1997ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(85) {
  left: 46%;
  width: 11px;
  height: 11px;
  -webkit-animation-duration: 11369ms;
          animation-duration: 11369ms;
  -webkit-animation-delay: 1537ms;
          animation-delay: 1537ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(86) {
  left: 63%;
  width: 18px;
  height: 18px;
  -webkit-animation-duration: 6250ms;
          animation-duration: 6250ms;
  -webkit-animation-delay: 2035ms;
          animation-delay: 2035ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(87) {
  left: 59%;
  width: 16px;
  height: 16px;
  -webkit-animation-duration: 8416ms;
          animation-duration: 8416ms;
  -webkit-animation-delay: 3889ms;
          animation-delay: 3889ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(88) {
  left: 8%;
  width: 4px;
  height: 4px;
  -webkit-animation-duration: 10546ms;
          animation-duration: 10546ms;
  -webkit-animation-delay: 3645ms;
          animation-delay: 3645ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(89) {
  left: 60%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 8587ms;
          animation-duration: 8587ms;
  -webkit-animation-delay: 2858ms;
          animation-delay: 2858ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(90) {
  left: 82%;
  width: 7px;
  height: 7px;
  -webkit-animation-duration: 5878ms;
          animation-duration: 5878ms;
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(91) {
  left: 9%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 6439ms;
          animation-duration: 6439ms;
  -webkit-animation-delay: 2984ms;
          animation-delay: 2984ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(92) {
  left: 75%;
  width: 14px;
  height: 14px;
  -webkit-animation-duration: 5928ms;
          animation-duration: 5928ms;
  -webkit-animation-delay: 788ms;
          animation-delay: 788ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(93) {
  left: 106%;
  width: 20px;
  height: 20px;
  -webkit-animation-duration: 11507ms;
          animation-duration: 11507ms;
  -webkit-animation-delay: 626ms;
          animation-delay: 626ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(94) {
  left: 4%;
  width: 9px;
  height: 9px;
  -webkit-animation-duration: 8106ms;
          animation-duration: 8106ms;
  -webkit-animation-delay: 397ms;
          animation-delay: 397ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(95) {
  left: 69%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 7742ms;
          animation-duration: 7742ms;
  -webkit-animation-delay: 3649ms;
          animation-delay: 3649ms;
  filter: blur(3px);
}
.g-snows > li:nth-child(96) {
  left: 86%;
  width: 0px;
  height: 0px;
  -webkit-animation-duration: 6859ms;
          animation-duration: 6859ms;
  -webkit-animation-delay: 1795ms;
          animation-delay: 1795ms;
  filter: blur(1px);
}
.g-snows > li:nth-child(97) {
  left: 99%;
  width: 5px;
  height: 5px;
  -webkit-animation-duration: 9921ms;
          animation-duration: 9921ms;
  -webkit-animation-delay: 4577ms;
          animation-delay: 4577ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(98) {
  left: 25%;
  width: 19px;
  height: 19px;
  -webkit-animation-duration: 5807ms;
          animation-duration: 5807ms;
  -webkit-animation-delay: 3867ms;
          animation-delay: 3867ms;
  filter: blur(0px);
}
.g-snows > li:nth-child(99) {
  left: 90%;
  width: 1px;
  height: 1px;
  -webkit-animation-duration: 8299ms;
          animation-duration: 8299ms;
  -webkit-animation-delay: 3082ms;
          animation-delay: 3082ms;
  filter: blur(2px);
}
.g-snows > li:nth-child(100) {
  left: 30%;
  width: 2px;
  height: 2px;
  -webkit-animation-duration: 5092ms;
          animation-duration: 5092ms;
  -webkit-animation-delay: 3254ms;
          animation-delay: 3254ms;
  filter: blur(1px);
}

@-webkit-keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}

@keyframes snow-drop {
  0% {
    transform: translate(0, 0);
    opacity: 0.5;
    margin-left: 0;
  }
  10% {
    margin-left: 15px;
  }
  20% {
    margin-left: 20px;
  }
  25% {
    transform: translate(0, 166.6666666667px);
    opacity: 0.75;
  }
  30% {
    margin-left: 15px;
  }
  40% {
    margin-left: 0;
  }
  50% {
    transform: translate(0, 333.3333333333px);
    opacity: 1;
    margin-left: -15px;
  }
  60% {
    margin-left: -20px;
  }
  70% {
    margin-left: -15px;
  }
  75% {
    transform: translate(0, 500px);
    opacity: 0.5;
  }
  80% {
    margin-left: 0;
  }
  100% {
    transform: translate(0, 666.6666666667px);
    opacity: 0;
  }
}/*# sourceMappingURL=light-theme-background.css.map */