* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.home {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.sec1 {
  z-index: 10;
}

body {
  font-family: "Alumni Sans Inline One", cursive;
  font-size: 1.2;
  color: #000000;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

i {
  block-size: 60;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

.fixed {
  top: 0;
  height: 3rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 15;
}
.fixed .nav-bar {
  width: 28vw;
  min-width: 430px;
  height: inherit;
  opacity: 30%;
  background-color: #3C415C;
  border-radius: 0 0 30px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgb(158, 92, 205);
}
.fixed .nav-bar a {
  font-size: 2rem;
  padding: 5px 12px;
  opacity: 40%;
}
.fixed .nav-bar a:hover {
  opacity: 100%;
  transform: scaleY(1.2);
  transform: scaleX(1.2);
}
.fixed .nav-bar a:hover .nav-bar {
  opacity: 50%;
}
.fixed .nav-bar:hover {
  opacity: 90%;
  transform: scale(1.2, 1.5);
  transition: 0.6s;
}

.nav-bar a {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.nav-bar a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.nav-bar a:hover {
  background-position: 0;
  padding-bottom: 2px;
}
.nav-bar a:hover::before {
  width: 100%;
}

.intro {
  position: absolute;
  top: 12vh;
  left: 14vw;
}
.intro .small {
  font-size: 4rem;
  opacity: 0.6;
  color: #e1afa1;
  font-weight: 100;
}
.intro .big {
  font-size: 6rem;
  color: #96FFFF;
  font-weight: 100;
}
.intro .big .name {
  color: #41B3A3;
}
.intro .bigger {
  font-size: 8rem;
  width: 100vw;
}
.intro p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}
.intro .changing {
  position: absolute;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.web-developer {
  color: rgba(182, 239, 182, 0.868);
}

.programmer {
  color: rgb(166, 234, 228);
}

.problem-solver {
  color: rgb(142, 194, 218);
}

.social {
  position: absolute;
  top: 50vh;
  right: 9vw;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  align-items: flex-end;
  justify-content: center;
  z-index: 1;
}
.social .btn-github .btn {
  padding: 13px;
}
.social .btn-linkedin .btn {
  padding: 14px;
}
.social .btn-freecodecamp .btn {
  padding: 10px;
}
.social .btn-email .btn {
  padding: 12px;
}

.btn {
  background-color: #301B3F;
  color: rgb(224, 214, 214);
  text-decoration: none;
  border-radius: 60px;
  margin: 15px;
  height: 60px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 60px;
  transition: max-width 0.5s;
}

.icon {
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  white-space: nowrap;
  padding-right: 20px;
  font-family: inherit;
  font-size: 22px;
}

.btn:hover {
  max-width: 300px;
  transform: scale(1, 1.1);
  color: rgb(255, 255, 255);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.button {
  position: fixed;
  display: flex;
  bottom: 22vh;
  left: 14vw;
}
.button button {
  background-color: rgba(29, 26, 26, 0.37);
  border: none;
  font-family: inherit;
  font-size: 26px;
}
.button .abt-btn {
  width: 165px;
  height: 55px;
  border-radius: 12px;
  margin-left: 40px;
}
.button .res-btn {
  width: 165px;
  height: 55px;
  border-radius: 12px;
  margin-left: 120px;
}
.button .btn-effect {
  border-color: rgb(76, 174, 235);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(19, 19, 51) inset, 0 0 0 0 rgb(9, 9, 60);
  transition: all 150ms ease-in-out;
}
.button .btn-effect:hover {
  box-shadow: 0 0 10px 0 rgba(90, 156, 237, 0.334) inset, 0 0 10px 4px blue;
  color: black;
}

.about-card {
  width: 94vw;
  height: 92vh;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: aqua;
  display: flex;
  overflow: hidden;
}

.sec2 {
  z-index: -1;
}

.details {
  height: 100%;
  width: 42%;
  background-color: white;
  border-radius: 20px 0 0 20px;
  padding: 35px;
}

.details-heading h1 {
  position: relative;
  padding-right: 40px;
  margin: 0;
  text-align: right;
  font-family: inherit;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  transition: all 0.4s ease 0s;
}

.details-heading h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}

.details-heading h1:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 5px;
  width: 165px;
  background-color: #111;
}

.details-heading h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 95%;
  background-color: #333;
}

.details-paragraph {
  margin: 40px 0px;
  font-size: 22px;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.details-paragraph > p {
  margin-top: 35px;
}

.abt-contact-button {
  margin: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abt-contact-button .button1 {
  width: 190px;
  height: 45px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 600;
  color: #000;
  background-color: antiquewhite;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.abt-contact-button .button1:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.skills-buttons {
  padding: 50px;
}

.about-card > .skills {
  text-align: center;
  height: 100%;
  width: 58%;
  background-color: azure;
  padding: 35px;
  border-radius: 0 20px 20px 0;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  margin: 32px;
  margin-right: 0;
}

.btn-11 {
  border: none;
  background: rgb(251, 33, 117);
  background: linear-gradient(0deg, rgb(211, 227, 211) 0%, rgb(188, 16, 240) 100%);
  color: #fff;
  overflow: hidden;
}

.btn-11:hover {
  text-decoration: none;
  color: #fff;
}

.btn-11:before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: #fff;
  -webkit-animation: shiny-btn1 3s ease-in-out infinite;
          animation: shiny-btn1 3s ease-in-out infinite;
}

.btn-11:hover {
  opacity: 0.7;
}

.btn-11:active {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.skills-heading h1 {
  position: relative;
  padding-left: 30px;
  margin: 0;
  text-align: left;
  font-family: inherit;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
  transition: all 0.4s ease 0s;
}

.skills-heading h1 {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}

.skills-heading h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 410px;
  background-color: #111;
}

.skills-heading h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 95%;
  background-color: #333;
}

.work-card {
  background-color: rgba(50, 48, 53, 0.537);
  width: 94vw;
  height: 92vh;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.work-card::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sec3 {
  z-index: -1;
}

/* Main styles */
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 250;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 8s infinite linear;
  animation: stroke 8s infinite linear;
}
.text:nth-child(4n+1) {
  stroke: #e2dfeb;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}
.text:nth-child(4n+2) {
  stroke: rgba(3, 20, 37, 0.9960784314);
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}
.text:nth-child(4n+3) {
  stroke: #ece4f4;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}
.text:nth-child(4n+4) {
  stroke: #010807;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -320;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -320;
  }
}
/* Other styles */
svg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.projects-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 12px;
}

.project-container {
  width: 60%;
  height: 45vh;
  border-radius: 8px;
  margin: 6px;
  background: linear-gradient(to right, black, white);
  padding: 14px;
}

.project-container:hover {
  box-shadow: 0 0 50px rgba(33, 33, 33, 0.841);
  background: linear-gradient(to right, white, black);
  transition: 0.4s ease-in-out;
  height: 47vh;
  width: 62%;
}
.project-container:hover .proj-title-line {
  width: 320px;
  transition: 0.4s ease-in-out;
}

.project-innerwrap {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, white, black);
  display: flex;
}

.proj-info {
  width: 60%;
  height: 100%;
  padding: 22px;
}
.proj-info .proj-title {
  font-size: 42px;
}
.proj-info .proj-title-line {
  height: 12px;
  width: 12px;
  border-radius: 5px;
  background-color: aquamarine;
}
.proj-info .proj-stack {
  color: rgb(85, 79, 79);
}
.proj-info .proj-detail {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 18px;
  font-size: 18px;
  color: rgb(28, 60, 105);
}

.proj-demo {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proj-demo .demo-img {
  border-radius: 4px;
  height: 170px;
  width: 300px;
}
.proj-demo .proj-demo-buttons {
  position: absolute;
  text-align: center;
  display: inline-flex;
}
.proj-demo .proj-demo-buttons .proj-btn {
  min-width: 90px;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  background-color: aqua;
  display: none;
}

.proj-demo:hover .demo-img {
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
  transition: 0.2s ease-in-out;
}
.proj-demo:hover .proj-btn {
  display: block;
}

.contact-card {
  width: 94vw;
  height: 92vh;
  border-radius: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec4 {
  z-index: -1;
}

.contact-layout {
  width: 52%;
  min-width: 400px;
  height: auto;
  border-radius: 12px;
  padding: 3%;
  opacity: 65%;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 35px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.msg-input {
  height: 290%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 70px;
}

.cut-short {
  width: 52px;
}

.input:not(:-moz-placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.input:not(:-ms-input-placeholder) ~ .cut {
  transform: translateY(8px);
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-ms-input-placeholder) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:-moz-placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:not(:-ms-input-placeholder) ~ .placeholder {
  color: #808097;
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 115px;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: rgb(3, 14, 68);
}

.mail-icon {
  position: absolute;
  width: 45%;
  height: 88%;
  top: 6%;
  right: 3%;
  padding: 60px;
}

.icn {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 500px) {
  .fixed {
    bottom: 0;
    top: auto;
  }
  .fixed .nav-bar {
    width: 95%;
    min-width: auto;
    height: 80%;
    background: rgb(21, 40, 52);
    border-radius: 8px;
    opacity: 80%;
  }
  .fixed .nav-bar a {
    font-size: 1.4rem;
  }
  .fixed .nav-bar a:hover {
    transform: none;
  }
  .fixed .nav-bar:hover {
    opacity: 100;
    transform: none;
  }
  .intro {
    top: 24vh;
    left: 4vw;
  }
  .intro .small {
    font-size: 2.2rem;
  }
  .intro .big {
    font-size: 3rem;
  }
  .intro .bigger {
    font-size: 4.2rem;
  }
  .social {
    flex-direction: row;
    transform: none;
    align-items: center;
    right: auto;
    margin-left: 0.6rem;
    margin-top: 18px;
  }
  .btn {
    background-color: #022449;
    margin: 8px;
    height: 40px;
    border-radius: 40px;
    width: 40px;
  }
  .btn:hover {
    transform: none;
  }
  .icon {
    font-size: 25px;
    margin: -5px;
  }
  .icon .text {
    display: none;
  }
  .button {
    left: 0;
    bottom: 26vh;
  }
  .button button {
    font-size: 18px;
  }
  .button .abt-btn {
    margin: 10px;
    width: 120px;
    height: 42px;
  }
  .button .res-btn {
    margin: 10px;
    width: 120px;
    height: 42px;
  }
}/*# sourceMappingURL=main.css.map */