.work-card{
    background-color: rgba(50, 48, 53, 0.537);
    width: 94vw;
    height: 92vh;
    border-radius: 20px;
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
    &::-webkit-scrollbar { 
        display: none;          /* Safari and Chrome */
    }
}


.sec3{
    z-index: -1;
}



//                 Title Animation  

$colors: #e2dfeb, #031425fe, #ece4f4, #010807;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 8s;
$time-step: calc($time/$max);

        /* Main styles */

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;
  
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

        /* Other styles */

svg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


//                    Projects flex

.projects-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    //flex-basis: 33.333333%;
    padding: 12px;
    
}

.project-container{
    width: 60%;
    height: 45vh;
    border-radius: 8px;
    margin: 6px;
    background: rgb(207, 210, 207);
    padding: 14px;
    //border: 3px solid rgba(15, 112, 209, 0.542);
    //border-style: outset;

}

.project-innerwrap{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    
    
}